.THIS .arrow {
	background-image: url(/resource/EUR_ISP_SLDS/assets/icons/utility/down.svg) !important;
	background-size: cover !important;
	background-color: rgb(192, 192, 192);
	display: inline-block;
	position: relative;
	color: white;
	cursor: pointer;
	border: 0;
	opacity: 0.5;
}
.THIS .arrow-right {
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.THIS.spend-table__body {
	margin: 5px;
	border: 1px solid #d8dde6;
	border-top: none;
	border-radius: 0 0 0.25rem 0.25rem;
}
.THIS input[type="text"], .THIS textarea, .THIS select {
	font-size: 14px;
}
.THIS .cEUR_ISP_Lookup .slds-lookup__body .slds-pill-container.slds-show {
	min-width: 89%!important;
}
.THIS select.slds-input--bare {
	height: 30px;
}
.THIS .slds-table tr > th:first-child, .THIS .slds-table tr > td:first-child {
	padding-left: 0.5rem !important;
}