.THIS .product-list {
    /*float: left;
    width: 55%;*/
}
.THIS .prod-detail {
    padding: 13px 10px 0 216px;
}


.THIS .prod-detail h2 {
    font-size: 14px;
}
.THIS .price{
    font-size: 17px;
    color: black;
    margin-bottom: 8px;
}

.THIS .product-list .prod-detail h3 {
    color: #222;
    font-size: 18px;
    margin-bottom: 10px; 
}

.THIS {
    padding: 40px;
}
.THIS .dark {
    color: black;
    float: right;
    padding-left: 15px;
}
.THIS .order-info {
    /*float: right;
    width: 40%;
    padding-left: 10%;*/
}

.THIS .clear {
    clear: both;
}

.THIS .order-control {
    color: #222;
        background: #efecec;
        padding: 21px;
        /* font-weight: 100; */
        border-top: solid 1px #d4d2d2;
        border-bottom: solid 1px #d4d2d2;
}

.THIS .totals {
    /* font-weight: 100; */
    color: #222;
}

.THIS .totals .sub, .THIS .totals .total {
    padding: 7px 20px;
    border-bottom: solid 1px #ddd;
}

.THIS .action a {
    width: 100%;
    /* height: 90px; */
    position: relative;
    display: block;
    text-transform: uppercase;
    text-align: center; 
    background: #4e4e4e;
    color: #fff;
    padding: 18px;
    /* font-weight: 100; */
    font-size: 14px;  
    overflow: hidden;
}

.THIS .action a:hover {
    color: #ddd;
    text-decoration: none;
}

.THIS .action a.disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.THIS .my-row {
    border-bottom: 1px solid #ddd;
}
.THIS .my-row .img-cont {
    float: left;
    width: 166px;
    /* margin-right: 1%; */
    background: #f1f1f1;
    text-align: center;
    margin: 10px 20px 10px 0;
}

.THIS .my-row .img-cont img{
    max-height: 170px;
}
.THIS .items-list  {
    padding: 5px 20px 50px;
    position: relative;
}

.THIS .totals .total {
    font-size: 21px;
    color: #111;
}
.THIS .sub span {
    float: right;
    font-weight: bold;
}

.THIS .total span {
    float: right;
    font-weight: bold;   
}

.THIS .datosCliente{
    margin-bottom: 5px;
    margin-top: 5px;
}

.THIS .download-invoice {
    height: 46px;
}

.THIS .pedido-header h2 {
    font-size: 28px;
    color: black;
}

.THIS .product-list h3 {
    font-size: 25px;
}
.THIS .order-info {
    float: right;
    position: sticky;
    top: 0;
    transform: translateZ(0);
    transition:all 0.5s;
    padding-left: 5%;
}
.THIS .price-detail{
    
    padding-left: 0px;
    display: -webkit-box;
    font-size: inherit;
}
.THIS  .colorIndianRed svg{
    fill: indianred;
}