.THIS .label-hidden > label {
    display: none;
}


.THIS .overflow {
    overflow-inline: visible;
}

.THIS .slds-button_icon-bare{
    display: none;
}

.THIS .slds-truncate {
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 0.8125rem;
   

}

.THIS .slds-nav-vertical__action {
    cursor: default;
}

.THIS .slds-input {
    border-color: black;
}

.THIS.scrollerSize {
    height: 99%;
}

.THIS .right {
    text-align: right;
}

.THIS .slds-modal__container {
    height: 100%;
}

.THIS .slds-modal__content {
    height: 100%;
}
 
.THIS .slds-is-selected {
    color: red;
}
.THIS .slds-gutters_direct > .slds-col{
    padding: 0;
    margin-right: 0;
}
.THIS .slds-input-has-icon_left-right{
    margin-left: 20px;
}
.THIS .modalAppel{
    width: 300px;
    height: 300px;
    margin-left: 30%;
}

@media (max-width: 600px) {

.THIS .slds-truncate table tbody .slds-hint-parent td:first-child {
    display: none;
}

.THIS .slds-truncate table thead .slds-line-height_reset th:first-child {
    display: none;
}
.THIS .slds-is-selected {
   color: red !important;	
}

.THIS .slds-input{
    font-size: 1rem;
}
.THIS .slds-hyphenate {
    font-size: 0.6rem;
}
.THIS .slds-button_neutral{
    font-size: 0.6rem;
}
.THIS .modalAppel{
    width: 300px;
    height: 280px;
    margin-left: 40px;
    margin-top:200px;

}

.THIS .slds-truncate {
    font-size: .3rem;
    overflow: visible;
}
.THIS .slds-is-selected {
    color:red;
}

.THIS .slds-popover_edit{
    width: 6rem;
}


.THIS .slds-popover__body{
    width: 4rem;
}
.THIS .contai{
    margin-left : 0;
    margin-right: 0;
}
.THIS .right .slds-button{
    width: auto;
}
.THIS .slds-truncate table thead th .slds-is-resizable .slds-cell-fixed .slds-th__action .slds-truncate{
white-space: nowrap;
font-size: 0.6rem;
padding:0;
line-height: 0;


}
.THIS .slds-card {
    margin: 0;
}
.THIS .slds-gutters_direct>.slds-col {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    font-size: 0.7rem;
}

.THIS .slds-checkbox .slds-checkbox__label .slds-form-element__label {
   white-space: nowrap; 
   font-size: 0.6rem;
}
.THIS .slds-button {
    line-height: 1rem;
    font-weight: 700;
    margin-left: 0.5rem;
    
}

.THIS .slds-button_success{
    line-height: 0.1rem;
    font-weight: 700;
    margin-left: .9rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
}
/* à voir en version française*/
.THIS .slds-m-left_none{
   width: auto;
}
.THIS .slds-m-left_none .slds-button{
    margin-right: 0.5rem;
}
.THIS .slds-button_destructive, .THIS .slds-button--destructive{
    line-height: 0.1rem;
    font-weight: 700;
    margin-left: .9rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
}

.THIS .slds-button__icon--left, .THIS .slds-button__icon_left {
    margin: 0;
}


.THIS .slds-truncate table tbody .slds-hint-parent td .slds-grid_align-spread {
    padding:0.1rem;
    white-space: normal;
    font-size: 0.5rem;

}


.THIS .slds-truncate table tbody .slds-hint-parent td .slds-grid_align-spread .slds-truncate {
    color: blue;
    white-space: normal;
    
    font-size: 0.6rem;
    overflow-wrap: break-word;

}
.THIS .slds-table th, .THIS .slds-table td{
    padding: 0;

}

.THIS .slds-table_cell-buffer{
    font-size: .7rem;
}
.THIS .slds-modal__container {
    margin: 0.3rem;
}
.THIS .slds-grid .slds-gutters{
   margin-bottom: 5px; 
}

.THIS .slds-input-has-icon_left-right{
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
}
    

  }