.THIS .c-disappear {
    opacity: 0;
}

.THIS .page-body {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-family: Roboto,Lato,sans-serif;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: rgba(0,0,0,.87);
}

.THIS .mu-step-label-icon-container {
    margin-right: 0;
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.THIS .mu-step {
    position: relative;
}

.THIS .mu-step-label.active .mu-step-label-circle, .THIS .mu-step-label.completed .mu-step-label-circle {
    background-color: rgb(107,165,208);
}

.THIS .slds-button_brand{
    height:35px;
    margin-top:10px;
    margin-left:10px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    border: 1px solid rgb(217, 219, 221);
    transition: border .15s linear;
    background-color: rgb(36, 119, 204);
    border-color: rgb(36, 119, 204);
    color: rgb(255, 255, 255);
}

.THIS .mu-step-label-circle {
    width: 60px;
    height: 60px;
    font-size: 15px;
    line-height: 57px;
    text-align: center;
    overflow: hidden;
    border-radius: 100%;
    border-color: black;
    border: 1px solid;
    color: rgb(255,255,255);
}

.THIS .slds-radio .slds-radio__label .slds-form-element__label {
    font-size: 1rem;
}

.THIS .slds-form-element__control .slds-grow{
    padding-top: .05rem;
}

.THIS .slds-form-element__label {
    font-size: 1rem;
}

.THIS div.slds-radio {
    margin-right: 1rem;
}

.THIS .page-body .slds-page-header {
    border: 0px;
    border-bottom: 0;
    border-radius: 2px;
    border-left: 2px solid;
}

.THIS.page-body div.slds-page-header {
    font-weight: bold;
}



.THIS .slds-badge_inverse {
    background-color: #2196f3;
    color: #fff;
    font-size: smaller;
}

.THIS .mu-chip, .THIS .mu-chip:hover {
    background-color: brown;
    color: #fff;
    font-size: inherit;
    cursor: default;
}

.THIS .mu-chip {
    padding: 0 8px;
}

.THIS .slds-popover_tooltip {
    position: absolute!important;
    top: -2.2rem;
    left: 0.57rem;
    width: 80%;
    background: #16325c;
}

.THIS .slds-popover__body {
    text-align: center;
    padding: .5rem .45rem;
}

.THIS .dbselect {
    width: fit-content;
}

.THIS .slds-m-right_xxx-small{
    display: none;
}

.THIS .slds-select{
    height: 1.8rem;
}

.THIS button {
    color: inherit;
    font: inherit;
    margin: 0;
}

.THIS button {
    overflow: visible;
}

.THIS button {
    text-transform: none;
}

.THIS button {
    -webkit-appearance: button;
    cursor: pointer;
}

.THIS button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.THIS *,
.THIS :after,
.THIS :before {
    box-sizing: border-box;
}

.THIS ::placeholder {
    color: #706e6b;
    font-weight: 400;
}

.THIS ::selection {
    background: #d8edff;
    text-shadow: none;
    color: #080707;
}

.THIS button {
    cursor: pointer;
}

.THIS .slds-popover__body {
    position: relative;
    padding: .5rem .75rem;
    word-wrap: break-word;
}

.THIS .slds-popover :last-child {
    margin-bottom: 0;
}

.THIS .slds-nubbin_bottom:after,
.THIS .slds-nubbin_bottom:before {
    width: 1rem;
    height: 1rem;
    position: absolute;
    transform: rotate(45deg);
    content: "";
    background-color: inherit;
    left: 50%;
    bottom: -.5rem;
    margin-left: -.5rem;
}

.THIS .slds-nubbin_bottom:after {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .16);
    z-index: -1;
}

.THIS .slds-popover_tooltip .slds-popover__body {
    font-size: .75rem;
    color: #fff;
}

/*! CSS Used from: https://unpkg.com/muse-ui/dist/muse-ui.css */
.THIS button {
    font: inherit;
    margin: 0;
}

.THIS button {
    overflow: visible;
}

.THIS button {
    text-transform: none;
}

.THIS button,
.THIS html [type=button] {
    -webkit-appearance: button;
}

.THIS [type=button]::-moz-focus-inner,
.THIS button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

.THIS [type=button]:-moz-focusring,
.THIS button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

.THIS ::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
}

.THIS .mu-ripple-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.THIS .mu-stepper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.THIS .mu-step {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: -6px;
}

.THIS .mu-step:first-child {
    margin-left: 0;
}

.THIS .mu-step-button {
    border: 10px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-color: transparent;
    -webkit-transition: all .45s cubic-bezier(.23, 1, .32, 1) 0ms;
    -o-transition: all .45s cubic-bezier(.23, 1, .32, 1) 0ms;
    transition: all .45s cubic-bezier(.23, 1, .32, 1) 0ms;
}

.THIS .mu-step-connector {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.THIS .mu-step-connector-line {
    display: block;
    border-color: #bdbdbd;
    margin-left: -6px;
    border-top-style: solid;
    border-top-width: 1px;
}

.THIS .mu-step-label {
    height: 72px;
    color: rgba(0, 0, 0, .87);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    padding-left: 14px;
    padding-right: 14px;
}

.THIS .mu-step-label.active {
    font-weight: 500;
    color: rgb(255, 255, 255);
}

/*! CSS Used from: Embedded */
.THIS .c-disappear {
    opacity: 0;
}

.THIS .mu-step {
    position: relative;
}

.THIS .slds-popover__body {
    text-align: center;
    padding: .5rem .45rem;
}

/*! CSS Used from: https://lightningdesignsystem.com/_next/static/style.css */


.THIS ::placeholder {
    color: #706e6b;
    font-weight: 400;
}

.THIS ::selection {
    background: #d8edff;
    text-shadow: none;
    color: #080707;
}

/*! CSS Used from: https://unpkg.com/muse-ui/dist/muse-ui.css */
.THIS ::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
}

.THIS .mu-chip {
    border-radius: 16px;
    line-height: 32px;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #e0e0e0;
    color: rgba(0, 0, 0, .87);
    font-size: 13px;
    padding: 0 12px;
    outline: none;
    cursor: default;
}

.THIS .mu-chip:active,
.THIS .mu-chip:focus {
    background-color: #ccc;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.THIS .mu-chip:hover {
    background-color: #ccc;
    cursor: pointer;
}

/*! CSS Used from: Embedded */

.THIS ::placeholder {
    color: #706e6b;
    font-weight: 400;
}

.THIS ::selection {
    background: #d8edff;
    text-shadow: none;
    color: #080707;
}

.THIS ::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
}


.THIS .mu-chip,
.THIS .mu-chip:hover {
    background-color: #2196f3 !important;
    color: #fff;
    font-size: inherit;
    cursor: default;
}

.THIS.c-disappear {
    opacity: 0;
}

.THIS .mu-step {
    position: relative;
}

.THIS .slds-radio .slds-radio__label .slds-form-element__label {
    font-size: 1rem;
}

.THIS div.slds-radio {
    margin-right: 1rem;
}

.THIS .page-body {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.THIS .slds-badge_inverse {
    background-color: #2196f3;
    color: #fff;
    font-size: smaller;
}

.THIS .mu-chip,
.THIS .mu-chip:hover {
    background-color: #2196f3 !important;
    color: #fff;
    font-size: inherit;
    cursor: default;
}

.THIS .slds-popover__body {
    text-align: center;
    padding: .5rem .45rem;
}