.pageContent {
	margin-bottom: 20px;
}

.tableContent {
	overflow: visible;
	margin-bottom: 20px;
}

.buttonPanel {
	margin: 0 10px;
}

.title {
	padding-left: 10px;
}

.panelInput {
	padding: 5px;
}

.margin10 {
	margin-bottom: 10px;
}

.textRight {
	text-align: right;
}