.vCard > div.slds-card__body {
	margin-top: 0;
	margin-bottom: 0;
}

.container {
    width:90%;
    margin: auto;
}

.title{
    font-size: 25px;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bfbfbf;
}

.container-scroller {
    height: 100vh;
}



.padding{
    padding-top: 20px;
    padding-bottom: 20px;
}

.divbottomline-note {
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

.photo {
    float: left;
    margin-right: 15px;
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    color: #919aa1;
    background-color: #d6d9dc;
}

.lock {
    width: 15px;
    height: 20px;
    float: right;
    margin-top: 65px;
}

.clbox::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}

.event-name {
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 21px;
    font-size: 18px;
    font-weight: 900;
    width: 100%;
    color: #053466;
}

.event-type {
    font-size: 15px;
    color: #919aa1;
    width: 100%;
}

.bottom-div {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    background-color: white;
    box-sizing: border-box;
    border-top: 1px solid #cccccc;
    z-index: 90;
}

.button {
    margin: auto;
    width: 200px;
    height: 40px;
}

.procceed-button-div {
    width: 200px;
    height: 45px;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.proccee-button {
    width: 200px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    background-color: #033466;
    color: white;
    font-size: 15px;
}