.full-width {
    width : 100%;
}

.custom-panel {
	background    : rgb(255, 255, 255);
    padding       : 0.75rem 0;
    box-shadow    : 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    border        : 1px solid rgb(221, 219, 218);
    border-radius : 0.25rem;                           
}
                            
.editable-panel {
    min-height     : 500px;
    margin         : 0.125rem;
    padding        : 0.75rem 1rem;
    padding-bottom : 16px;
}
                                             
.line-break {
    margin : 20px 200px;
}

.fc-header-toolbar .fc-left,
.customer-list-title {
	font-size   : 18px;
    margin-top  : 5px;
    font-weight : 700;
}
                                           
.delete-mode .fc-event,
.delete-mode .fc-event-dot{
	background-color : #d4504c;
	border-color     : #d4504c;                                                    
}                                                

.filter-container {
    display : flex;
}

.customer-list {
	overflow-x : auto;                                                    
}
                                                
.customer-list thead, 
.customer-list tbody { 
	display : block; 
}                                                
                                                
.customer-list tbody {
	height     : 365px;       
    overflow-y : auto; 
    overflow-x : hidden;                                            
}

.customer-list tbody td,     
.customer-list thead th {
    width : 140px;                                                
	padding-left  : 8px;
    padding-right : 8px;                                                
}

.customer-list tbody td div {
    white-space : normal;
	width       : 124px;                                                    
}
                                                
.customer-list tbody .custom-size-small,     
.customer-list thead .custom-size-small {
    width : 80px;                                                
	padding-left  : 8px;
    padding-right : 8px;                                                
}

.customer-list tbody .custom-size-small div {
    white-space : normal;
	width       : 64px;                                                    
}
                                                
.customer-list .fc-event,
.customer-list .fc-event a {
    background-color : transparent;
    border           : 0;                                                   
}

.customer-list .selected-row {
	background : rgba(21, 137, 238, 0.3);
}

.customer-pagination-container {
	display : flex;
    height  : 80px;                                               
}                                                
                                                
.customer-pagination {
	display : inline-block;
    margin  : auto;                                                
}

.customer-pagination > div {
  	color           : black;
  	float           : left;
  	padding         : 8px 16px;
  	text-decoration : none;
  	border          : 1px solid #ddd;
    height          : 41px;
    display         : flex;                                                
}
                                                
.customer-pagination > div span {
  	margin : auto;                                         
}

.customer-pagination > .hoverable:hover {
	background-color : #ddd;
    cursor           : pointer;                                                
}
                                                
.customer-pagination > div .slds-form-element__control {
	margin-right : 5px;                                                    
}    
                                                
.customer-pagination > div .slds-input {
    min-height : 25px;                                                
	height     : 25px;
}

.customer-pagination > div .slds-button {
    line-height : 22.5px; 
}                                                        

.customer-pagination > div:first-child {
  	border-top-left-radius    : 5px;
  	border-bottom-left-radius : 5px;
}

.customer-pagination > div:last-child {
  	border-top-right-radius    : 5px;
  	border-bottom-right-radius : 5px;
}                                                
                                               
.button-group-right {
    width      : 100%;
    text-align : right;
    display    : block;
}
                                                
.text-right {
	text-align : right;                                                    
}

.text-center {
	text-align : center;                                                            
}