.vCard > header.slds-card__header.slds-grid {
	display: none !important;
}

.vCard > div.slds-card__body {
	margin-top: 0;
	margin-bottom: 0;
}

.container {
    width: 90%;
}

.header {
    height: 64px;
    width: 100%;
    border-bottom: 1px solid #959493;
}

.header-title {
    font-size: 18px;
    font-weight: 900;
    line-height: 18px;
}

.empty-list {
    padding: 20px 0;
    width: 100%;
}

.list-container {
    width: 100%;
}

.item-container {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #959493;
}

.item-previous-order {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 3px;
}

.item-date {
    color: #959493;
    margin-bottom: 10px;
}

.item-num {
    color: #1b1b1b;
    margin-bottom: 3px;
}

.item-price {
    
}

.pagination-container {
    padding: 30px 0;
}

.pagination-button {
    padding: 2px 15px;
    width: 30px;
}

.pagination-button {
    display: flex;
    align-items: center;
}

.pagination-input {
    width: 45px;
    margin-left: 25px;
    margin-right: 5px;
}

.pagination-text {
    min-width: 30px;
    font-size: 16px;
    color: #023466;
    text-align: center;
}