.THIS .navigationTabs {
    margin-top: 0.65rem;
    height: 2rem;
    border-bottom: 2px solid #d9dbdd;
}

.THIS .navigationTabs > a {
    padding: 0.7rem 1rem;
}

.THIS .navigationTabs > a:hover {
    color: whitesmoke;
    text-decoration: none;
    background-color: lightskyblue;
    border-bottom: 2px solid dodgerblue;
}

.THIS .navigationTabs > a:focus {
    text-decoration: none;
}

.THIS .current, .THIS .active {
    background-color: lightskyblue;
    color: whitesmoke;
    border-bottom: 3px solid dodgerblue;
}

.THIS .activeButton, .THIS .inactiveButton {
    border-left: none;
    border-right: none;
    border-top: none;
}

.THIS .activeButton {
    background-color: lightskyblue;
    color: whitesmoke;
    border-bottom: 3px solid dodgerblue;
    padding: 0.3rem 1rem;
    outline: none;
}

.THIS .inactiveButton {
    border-bottom: 2px solid #d9dbdd;
    padding: 0.3rem 1rem;
    border-bottom: none;
    color: #cccccc;

    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.THIS .completed {
    background-color: darkseagreen;
    color: whitesmoke;
}

.THIS .notCompleted {
    background-color: whitesmoke;
    color: darkgrey;

    /*pointer-events: none;*/
    /*cursor: default;*/
    /*text-decoration: none;*/
}