.THIS {
}

.THIS.vCard > header.slds-card__header.slds-grid {
	display: none !important;
}

.THIS.vCard > div.slds-card__body {
	margin-top: 0;
	margin-bottom: 0;
}

.THIS .container {
    width: 90%;
}

.THIS .header {
    width: 100%;
    padding-top: 21.5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #959493;
}

.THIS .header-title {
    font-size: 18px;
    font-weight: 900;
    line-height: 18px;
}

.THIS .header-date {
    margin-top: 5px;
    color: #959493;
}

.THIS .sku-list-container {
    width: 100%;
}


.THIS .sku-list-summary-container {
    margin-top: 10px;
}

.THIS .sku-list-summary-header-container {
    width: 100%;
    line-height: 40px;
    background-color: #F2F2F2;
    text-align: center;
}

.THIS .sku-list-summary-detail-container {
    padding: 15px 0;
}

.THIS .sku-list-summary-detail {
    margin-bottom: 10px;
}

.THIS .sku-list-summary-title {
    line-height: 26px;
}

.THIS .sku-list-summary-value {
    font-weight: 900;
    font-size: 22px;
}


.THIS .delivery-container {
    padding-top: 40px;
}

.THIS .form-container {
    width: 100%;
}

.THIS .form-field-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.THIS .form-field-container > lightning-input {
    padding: 10px 0;
}


.THIS .form-field-container .slds-form-element .slds-form-element__label {
    color: #111111;
    margin-bottom: 14px;
}

.THIS .form-title {
    margin-bottom: 14px;
}

.THIS .form-input {

}

.THIS .form-input-textarea {
    min-height: 100px;
}

.THIS .button-container {
    padding-bottom: 25px;
}

.THIS .submit-button {
    width: 200px;
    height: 50px;
}