.THIS .slds-is-close{
    display:none;
}

.THIS .closeBtn {
    text-align: right;
    padding-top:10px;
}

.THIS .slds-is-open{
    display:block;
}

.THIS h2{
    text-align:center;
    margin-bottom:10px;
}
.THIS .slds-table_cell-buffer{
    overflow: initial;
}
.THIS .slds-lookup__search-input.slds-input.slds-form-element{
    border:none;
}
.THIS .slds-lookup__search-input{
    width:95%;
    line-height: 0rem;
    padding: 0.5rem;
}

.THIS .slds-box {
    padding: 0px;

}
@media (max-width: 600px) {

    .THIS .slds-combobox__input{
        height: 2rem;
        margin-bottom: 10px;
    }
    .THIS .slds-listbox__option .slds-media__body .slds-truncate{
        font-size: 0.7rem;
    }
}