.THIS.vCard > header.slds-card__header.slds-grid {
	display: none !important;
}

.THIS.vCard > div.slds-card__body {
	margin-top: 0;
	margin-bottom: 0;
}

.THIS body {
  padding: 0;
  margin: 0;
}

.THIS .header {
  padding: 0;
}

.THIS .map {
  width: 100%;
  height: 200px;
}

.THIS .vPanel {
  position: relative;
  display: table;
  width: 100%;
  height: 122px;
  padding: 0;
  table-layout: fixed;
}

.THIS .colLeft {
  display: table-cell;
  width: 50%;
  background-color: #033466;
  color: white;
  vertical-align: middle;
}

.THIS .colRight {
  display: table-cell;
  width: 50%;
  background-color: #7FA5D0;
  color: white;
  vertical-align: middle;
}

.THIS .row {
  position: relative;
  border-bottom: 1px dotted #959493;
  min-height: 100px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 8px;
  background-color: #fff;
}

.THIS .vDateDay {
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
  text-align: center;
}

.THIS .vDateYear {
  font-size: 100%;
  text-align: center;
}

.THIS .vCount {
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
  text-align: center;
}

.THIS .vCountLabel {
  font-size: 100%;
  text-align: center;
}

.THIS .vAddIcon {
  position: absolute;
  right: 0;
  margin-top: -86px;
  margin-right: 5px;
}

.THIS .vAddIcon svg {
  fill: white;
}

.THIS .vTitle {
  margin-bottom: 7px;
}

.THIS .vDate {
  background-color: #033466;
  font-size: 100%;
  line-height: 24px;  
  color: white;
  padding: 3px 12px;
  margin-right: 12px;
}

.THIS .vStatus {
  font-style: italic;
  font-size: 100%;
  line-height: 24px;
  padding: 3px 0;
  font-weight: bold;
}

.THIS .vPlanned {
  color: #92c850;
}

.THIS .vOutstanding {
  color: #6ba4d0;
}

.THIS .vCancelled {
  color: #c30c3d;
}

.THIS .vAchieved {
  color: #d4af37;
}

.THIS .vCompleted {
  color: #f79646;
}

.THIS .vAd-hoc {
  color: #f79646;
}

.THIS .vName {
  font-size: 20px;
  font-weight: 900;
  color: #033466;
  margin-bottom: 12px;
}

.THIS .vType {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 5px;
  color: #959493;
}

.THIS .vAddress {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 5px;
  color: #959493;
}

.THIS .vPhone {
  font-size: 12px;
  line-height: 16px;
  color: #959493;
}

.THIS .vIcon {
  display: table-cell;
  width: 20px;
}

.THIS .vDetail {
  display: table-cell;
  vertical-align: middle;
}

.THIS .vEmpty {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.THIS .vSelectIcon {
  position: absolute;
  right: -8px;
  top: 50%;
  margin-top: -8px;
}