.THIS {
    position: relative;
    z-index: 1;
}

.THIS header.slds-global-header_container { position: initial }

.THIS .slds-global-header {
   height: 70px;
   background: white;
}


.THIS .mainContentArea {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.THIS .slds-global-header__item a {
    color: black;
}

.THIS .slds-global-header__item a:hover {
    color: rgb(0, 95, 178);
    text-decoration: none;
}

.THIS .profileIcon {
    display: none;
}

.THIS span.profileName {
   min-width: 100%;
   font-size: 14px;
   text-shadow: 0 0 4px rgba(255, 255, 255, 0);
   font-weight: 400;
   text-overflow: unset;
   display: block;
}

.THIS span.triggerDownArrow {
    display: none;
}

.THIS .headerNotifications {
    padding-right: 0;
}

.THIS .headerProfile {
    padding-left: 0;
}

.THIS h1 {
	min-width: 150px;
    color: black;
    font-size: 15px;
}

.THIS .footerArea {
	text-align: center;
    padding: 20px;
    background-color: rgb(248, 247, 243);
}