.THIS .settlement-component--body {
	background: #CDE3FB;
	border: 1px solid #d8dde6;
	border-radius: 0.25rem;
	padding: 0.25rem;
}
.THIS .settlement-component--body h3 {
	background: #CDE3FB;
}
.THIS .settlement-component--fixed {
	position: fixed;
	width: 90%;
	z-index: 100;
	margin: 0 5% 0 5%;
	left: 0;
	top: 2rem;
}
.THIS .settlement-lines--header h3 {
	display: inline-block;
}
.THIS .arrow {
	background-image: url(/resource/EUR_ISP_SLDS/assets/icons/utility/down.svg) !important;
	background-size: cover !important;
	background-color: #7EA4D0;
	display: inline-block;
	position: relative;
	cursor: pointer;
	border: 0;
	opacity: 0.5;
}
.THIS .arrow-right {
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}