.vertical-align {
	cursor : pointer;
	margin : 6px 0px 0px 6px !important;
}

.full-width {
	width: 100% !important;
}

.record-list-panel {
	margin-top : 0px !important;
	overflow-y : scroll;
}

.record-panel:hover {
    background-color : #EEE;
    cursor           : pointer;
}

::-webkit-scrollbar {
    width  : 7px;
    height : 7px;
}

::-webkit-scrollbar-track {
   display : none !important;
}

::-webkit-scrollbar-thumb {
    border-radius : 10px;
    background    : rgba(0,0,0,0.4);
}

.bPageBlock{
    border-left: 3px solid red;
}