/**
 * Created by User on 6/3/2018.
 */
.THIS .div1{
    width: 40%;
    float: left;
}
.THIS .div2{
    width: 40%;
    margin-left: 55%;
}
.THIS .div3{
    clear: left;
    min-height: 50px;
}
.THIS .buttonWidth{
    width: 80px;
}
.THIS .slds-table {
    max-width: 100%;
}
.THIS .slds-table td {
    padding: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    /*font-weight: bold !important;*/
    font-size: 13px;
}
.THIS .slds-table td {
    white-space: normal;
    word-wrap: break-word;
}
.THIS .slds-table_cell-buffer tr>th:first-child, .slds-table_cell-buffer tr>td:first-child, .slds-table--cell-buffer tr>th:first-child, .slds-table--cell-buffer tr>td:first-child{
    padding-left:  2px;
}
.THIS .slds-table_cell-buffer tr>th:last-child, .slds-table_cell-buffer tr>td:last-child, .slds-table--cell-buffer tr>th:last-child, .slds-table--cell-buffer tr>td:last-child{
    padding-right:  2px;
}
.THIS .slds-spinner_container {
    background-color: transparent !important;
}