table th:first-child {
    max-width : 25%;
}

table th div {
    font-size   : 14px;
    font-weight : bold;
    color       : #5a5a5a;
}

table tbody td {
    white-space : normal;
    max-width   : 250px;
    overflow-x  : auto;
}

table td > div {
    margin-top    : 10px;
    margin-bottom : 10px;
}

.action-button-group {
    margin  : 0px !important;
}

.table-pagination-container {
    display : flex;
}

.table-pagination-container > div {
    display      : flex;
    margin-top   : 10px;
    margin-left  : auto;
    margin-right : auto;
}

.table-pagination-container .back-button {
    border        : 1px solid #dddbda;
    border-radius : 5px 0px 0px 5px;
}

.table-pagination-container .change-page-button {
    border        : 1px solid #dddbda;
}

.table-pagination-container .next-button {
    border        : 1px solid #dddbda;
    border-radius : 0px 5px 5px 0px;
}

.dynamic-table-container {
    overflow : auto;
}

@media only screen and (max-width: 1280px) {
    table td > div {
        margin-top    : 5px;
        margin-bottom : 5px;
    }

    .dynamic-button span {
        display : none;
    }

    .dynamic-table-container table,
    .dynamic-table-container thead,
    .dynamic-table-container tbody,
    .dynamic-table-container th,
    .dynamic-table-container td,
    .dynamic-table-container tr {
        display : block;
    }
         
    .dynamic-table-container thead tr {
        display : none;
    }
         
    .dynamic-table-container tr { 
        border        : 1px solid #ccc; 
        border-radius : 5px;
    }
          
    .dynamic-table-container td {
        padding       : 10px;
        border        : none;
        border-bottom : 1px solid #eee;
        position      : relative;
        white-space   : normal;
        text-align    : left;
    }
         
    .dynamic-table-container td:before {
        padding-right  : 10px;
        white-space    : nowrap;
        text-align     : left;
        font-weight    : bold;
        color          : #000000;
        display        : block;
        content        : attr(title); 
    }
}