.THIS .slds-tabs_scoped__content{
	padding: 0;
    max-height: 500px;
    overflow: auto;
}
.THIS #OrderTrickingMockup{
	width: 20%;
}
.THIS ul li {
    list-style: none;
}
         
.THIS .package-status {
    padding: 18px 0 0 0;
    margin: 30px;
    margin-top: 0;
}
         
.THIS .package-status .status-list {
    margin: 0;
    padding: 0;
    margin-top: -5px;
    padding-left: 8px;
    list-style: none;
}
         
.THIS .package-status .status-list>li {
    border-left: 2px solid #0278D8;
    text-align: left;
}
         
.THIS .package-status .status-list>li:before {
    /* 流程点的样式 */
    content: '';
    border: 6px solid #0278D8;
    background-color: #0278D8;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 10px;
    margin-left: -7px;
    margin-right: 10px
}
         
.THIS .package-status .status-box {
    overflow: hidden
}
         
.THIS .package-status .status-list>li {
    height: auto;
    width: 95%;
}
         
.THIS .package-status .status-list {
    margin-top: -8px
}
         
.THIS .package-status .status-box {
    position: relative
}
         
.THIS .package-status .status-box:before {
    content: " ";
    background-color: #f3f3f3;
    display: block;
    position: absolute;
    top: -8px;
    left: 20px;
    width: 10px;
    height: 4px
}
         
.THIS .package-status .status-list {
    margin-top: 0px;
}
         
.THIS .status-list>li:not(:first-child) {
    padding-top: 10px;
}
         
.THIS .status-content-before {
    text-align: left;
    margin-left: 25px;
    margin-top: -20px;
}
         
.THIS .status-content-latest {
    text-align: left;
    margin-left: 25px;
    color: #0278D8;
    margin-top: -20px;
}
         
.THIS .status-time-before {
    text-align: left;
    margin-left: 25px;
    font-size: 10px;
    margin-top: 5px;
}
         
.THIS .status-time-latest {
    text-align: left;
    margin-left: 25px;
    color: #0278D8;
    font-size: 10px;
    margin-top: 5px;
}
         
.THIS .status-line {
    border-bottom: 1px solid #ccc;
    margin-left: 25px;
    margin-top: 10px;
}
         
.THIS .list {
    padding: 0 20px;
    background-color: #F8F8F8;
    margin: 10px 0 0 25px;
    border: 1px solid #EBEBEB;
}
         
.THIS .list li {
    line-height: 30px;
    color: #616161;
}

.THIS .slds-grid_align-end .slds-grid--align-end {
   float: left !important;
}
.THIS #tovTab{
    position: relative;
}
.THIS .downloadIcon{
    text-align: center;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.THIS .disable-value{
    margin-left: 30px;
    color: cornflowerblue;
}
.THIS .slds-wrap{
    padding-left: 70px;
}
.THIS .slds-is-relative{
    color: black !important;
}