.THIS .slds-tabs--scoped__link {
	border-radius: 0.35rem 0.35rem 0 0 !important;
}
.THIS a.slds-tabs--scoped__link, .THIS button.slds-tabs--scoped__link{
	height: 2rem !important;
	line-height: 2rem !important;
	padding: 0 0.75rem !important;
}
.THIS #activityTabs {
	display: table-row;
}
.THIS #activityTabs li {
	display: table-cell;
}
.THIS .slds-tabs--scoped__content {
	border: none !important;
}
.THIS .action-icon__close {
	right: 0;
	top: 7px;
	margin-left: 5px;
	width: 15px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	border: 0;
	border-radius: 0.25rem;
	background-image: url(/resource/EUR_ISP_SLDS/assets/icons/action/close.svg) !important;
	background-size: cover !important;
	background-color: #c23934;
}
.THIS .action-icon__new {
	color: green !important;
}
.THIS .tab--blue {
	background-color: #0088cc !important;
	font-weight: bold;
	color: #fff !important;
	opacity: 0.4;
}
.THIS .tab--red {
	background-color: #c23934 !important;
	font-weight: bold;
	color: #fff !important;
	opacity: 0.4;
}
.THIS .tab--orange {
	background-color: #F2B15B !important;
	font-weight: bold;
	color: #fff !important;
	opacity: 0.4;
}
.THIS .tab--green {
	background-color: #008000 !important;
	font-weight: bold;
	color: #fff !important;
	opacity: 0.4;
}
.THIS .slds-active .tab--green,
.THIS .slds-active .tab--orange,
.THIS .slds-active .tab--red,
.THIS .slds-active .tab--blue {
	opacity: 1;
}