.slds-map {
	min-width: 0; 
  }
  
  .vCard > div.slds-card__body {
	  margin-top: 0;
	  margin-bottom: 0;
  }
  
  body {
	padding: 0;
	margin: 0;
  }
  
  .header {
	padding: 0;
  }
  
  .map {
	width: 100%;
	height: 200px;
  }
  
  .vPanel {
	display: table;
	width: 100%;
	height: 122px;
	padding: 0;
	table-layout: fixed;
  }
  
  .colLeft {
	display: table-cell;
	width: 50%;
	background-color: #033466;
	color: white;
	vertical-align: middle;
  }
  
  .colRight {
	display: table-cell;
	width: 50%;
	background-color: #7FA5D0;
	color: white;
	vertical-align: middle;
  }
  
  .row {
	position: relative;
	border-bottom: 1px dotted #959493;
	min-height: 100px;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 8px;
	background-color: #fff;
  }
  
  .vDateDay {
	font-size: 40px;
	line-height: 40px;
	font-weight: 900;
	text-align: center;
  }
  
  .vDateYear {
	font-size: 100%;
	text-align: center;
  }
  
  .vCount {
	font-size: 40px;
	line-height: 40px;
	font-weight: 900;
	text-align: center;
  }
  
  .vCountLabel {
	font-size: 100%;
	text-align: center;
  }
  
  .vTitle {
	margin-bottom: 7px;
  }
  
  .vDate {
	background-color: #033466;
	font-size: 100%;
	line-height: 24px;  
	color: white;
	padding: 3px 12px;
	margin-right: 12px;
  }
  
  .vStatus {
	font-style: italic;
	font-size: 100%;
	line-height: 24px;
	padding: 3px 0;
	font-weight: bold;
  }
  
  .Planned {
	color: #92c850;
  }
  
  .Outstanding {
	color: #6ba4d0;
  }
  
  .Cancelled {
	color: #c30c3d;
  }
  
  .Achieved {
	color: #d4af37;
  }
  
  .Completed {
	color: #f79646;
  }
  
  .Ad-hoc {
	color: #f79646;
  }
  
  .vName {
	font-size: 20px;
	font-weight: 900;
	color: #033466;
	margin-bottom: 12px;
  }
  
  .vType {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 5px;
	color: #959493;
  }
  
  .vAddress {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 5px;
	color: #959493;
  }
  
  .vPhone {
	font-size: 12px;
	line-height: 16px;
	color: #959493;
  }
  
  .vIcon {
	display: table-cell;
	width: 20px;
  }
  
  .vDetail {
	display: table-cell;
	vertical-align: middle;
  }
  
  .vEmpty {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
  }
  
  .vSelectIcon {
	position: absolute;
	right: -8px;
	top: 50%;
	margin-top: -8px;
  }
  
  .vPage {
	border-bottom: 1px #959493 solid;
	padding: 10px 0;
	margin-left: 15px;
	margin-right: 15px;
	background-color: #fff;
	text-align: center;
  }
  
  .vInputPage {
	width: 45px;
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
  }
  
  .vTotalPage {
	padding: 2px 8px;
  }
  
  .vPageButton {
	text-align: center;
	padding: 2px 15px;
  }