.THIS .Pending {
	padding: 3px;
	background-color: #ffd74b;
	border-radius: 5px;
	font-weight: bold;
}
.THIS .Removed {
	padding: 3px;
	background-color: #c0bebc;
	border-radius: 5px;
	font-weight: bold;
}
.THIS .Rejected {
	padding: 3px;
	background-color: #fb8a8c;
	border-radius: 5px;
	font-weight: bold;
}
.THIS .Approved {
	padding: 3px;
	background-color: #a1f78d;
	border-radius: 5px;
	font-weight: bold;
}