.divClass {
    width: 50%;
    margin: auto;
    margin-top: 1em;
}
.divClassPath {
    width: 60%;
    margin: auto;
    margin-top: 1em;
}
.InputClass {
    margin-left: 1em;
    margin-right: 1em;
}
.InputText {
    margin-left: 2em;
    margin-right: 2em;
}
.Formbottom {
    margin-bottom: 1em;
}
.SectionHeader {
    margin-top: 1em;
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}
.thick {
    font-weight: bold;
}