.THIS .slds-wrap{
	padding: 0 50px 0 50px;
}

.THIS .slds-input{
	margin-left: -30px;
	font-size: 13px;
	color: black;
}

.THIS .disable-value{
	margin-left: 30px;
	color: cornflowerblue;
	font-size: 13px;
}

.THIS .slds-grid {
	font-size: 12px;
}

.THIS .slds-grid_pull-padded{
	margin-top: 10px;
}

.THIS .slds-no-flex{
	font-size: 13px;
	color: black;
}
.THIS .slds-size_6-of-12 .slds-input{
 	margin-left: -140px;
    width: 535px;
}
.THIS .left{
	margin-left: 10px;
	/*margin-right: 20px;*/
	font-size: 13px;
	/*height: 38px;*/
	color: black;
	float: left;
    /*margin-right: 20px;*/
    height: 38px;
}