.THIS input.input-sm, .THIS select.input-sm {
	max-width: 85px;
	height: 25px;
	padding: 0px 10px;
}
.THIS td .editable-error-block {
	display: none !important;
}
.THIS span.required::after {
	content:'*';
	color: red;
	font-size: 14px;
}