.THIS .slds-has-inline-listbox{
    border:none;
}
.THIS [role=combobox] input[readonly] {
    padding-left: 2rem; 
}
.THIS .slds-form-element.disabled .slds-input__icon-group {
    display:none;
}

.THIS .hide-error-message > .slds-form-element__help {
    display: none;
}
.THIS .disabled .slds-input__icon-group_right {
    display:none;
}