.THIS .slds-accordion__summary{
    background-color: var(--lwc-colorBackground,rgb(243, 242, 242));
    height: 30px;
}

.THIS .slds-assistive-text{
            display:none;
}
.THIS .slds-is-relative{
	position:fixed !important
}