.THIS .slds-is-close{
    display:none;
}


.THIS .slds-is-open{
    display:block;
}

.THIS .slds-lookup__search-input.slds-input.slds-form-element{
    border:none;
}


.THIS .slds-modal__footer{
    position:absolute;
}

.THIS .slds-button_icon-bare{
    display: none;
}

.THIS .slds-truncate {
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.THIS .slds-button_neutral {
    border:none;
}

.THIS.scrollerSize {
    height: 99%;
}