.container {
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-size: 25px;
    font-weight: 900;
}

.title-in{
    padding-top: 10px;
    width: 100%;
}

.content-in{
    padding-top: 10px;
    width: 100%;
}

.slds-textarea{
    height: 100px;
}
.procceed-button-div {
    width: 200px;
    height: 80px;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.back-button-div {
    width: 200px;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}


.proccee-button {
    width: 200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #033466;
    color: white;
    font-size: 18px;
}

.back-button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 18px;
}