.THIS  .header-info {
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;

}

.THIS  .header-info  span{
    font-size: 14px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #888;
}

.THIS  .header-info  span:not(:first-child) {
    margin-left: 20px;
}

.THIS .slds-table {
    border-top: none;
}

.THIS .slds-table th {
    font-size: 14px;
    padding: 10px 0;
}

.THIS .product-info img {
    width: 60px;
    border: solid 1px #ddd;
    border-radius: 6px;
    margin: 10px 10px 10px 0;
}
.THIS .slds-th__action{ justify-content: center !important; }
.THIS .slds-grid_align-spread { justify-content: center !important; }