.THIS a{
	color: rgb(0, 95, 178);
}
.THIS .slds-app-launcher__tile-figure{
	padding: 1rem !important;
}
.THIS .slds-app-launcher__tile-body{
	padding: 0.75rem;
}
.THIS .slds-app-launcher__tile-body a{
	font-size: 20px;
	line-height: 40px;
}
.THIS .download svg {
 	background-color: rgb(36, 119, 204);
}
.THIS .download svg {
    fill: rgb(255,255,255);
}