.THIS  .slds-button_stretch {
	color: #696969;
    font-weight: bold;
}
.THIS .slds-th__action{ 
    justify-content: center !important; 
}
.THIS .slds-grid_align-spread { justify-content: center !important; }
.THIS .botonTracking{
    Background-color:#025b75;
    color : white;
}