.table.sf-table td.sf-td {
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    vertical-align: middle;
    font-size: 1em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    }
    .sf-th{
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #F5F5F5;
    color: #333;
    vertical-align: middle;
    }
    .tblist {
    table-layout:fixed
    }
    .tblist td {
    word-break:break-all;
    word-wrap: break-word;
    white-space: normal;
    }
    .tblist th {
    word-wrap: break-word;
    white-space: normal;
    }