.THIS .btn_next button {
    min-width: 120px;
}
.THIS .table-label {
    font-size: x-large;
    color: #015b74;
}
.THIS .input-group .lightningInput {
    display: inline-block;
    margin-right: 10px;
}
.THIS .facturas-tabset .slds-tabs_default__nav {
    width: 100%;
    height: 60px;
    background-color: white;
    font-size: xx-large;
    border-radius: 2px;
}
.THIS .facturas-tabset .slds-tabs_default__item:after {
    background-color: white;
}
.THIS .facturas-tabset .slds-tabs_default__nav .slds-icon-text-default{
    fill:red;
}
.THIS .facturas-tabset .slds-tabs_default__item.slds-is-active, .THIS .slds-tabs_default__link  {
    color: #025b75;
    padding-right: 30px;
    height: 60px;
    font-weight: bold;
}
.THIS .slds-tabs_default__item.slds-is-active .slds-tabs_default__link{
    font-weight: bold;
}
.THIS .facturas-tabset .slds-is-active {
    /*background-color:mediumaquamarine;*/
    background-color:white;
}

.THIS .facturas-tabset .slds-tabs_default__item {
    font-size: 0.875rem;
	color: #5b5a52;
 }

 .THIS .facturas-tabset .slds-tabs_default__item::after {
 	background-color: teal; 
 }

.THIS .slds-card_narrow {
    width: 320px;
}

.THIS .top-card-margin {
    margin-top: 1rem;
}

.THIS .left-card-margin {
    margin-left: 5px;
}

.THIS .slds-card__footer {
    text-align: center;
}

.THIS .loadFilesInfo {
    font-size: 0.75rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    margin-bottom: 0.125rem;
    color: rgba(0, 0, 0, 0.6);
}

.THIS .amountInput {
    width: 200px;
    margin-left: 10px;
    margin-top: 55px;
    
}

.THIS .forceContentFileCard {
    margin-left: 10px;
}
.THIS .divFormulario {
    float: left;
}
.THIS .backgroundInverse {
    position: absolute;
    background-color: #0a192f;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.4;
}
.THIS .botonBorrar {
    height: 25px;
    text-align: center;
    width: 20%;
    background-color: rgb(143, 143, 143);
    color: white;
    display: block;
    margin-bottom: 15px;
    padding: 4px;
    border-radius: 2px;
    margin-top: 2px;
}
.THIS .slds-th__action{ justify-content: center !important; }
.THIS .slds-grid_align-spread { justify-content: center !important; }