.THIS .container {
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.THIS .title{
    font-size: 25px;
    font-weight: 900;
}

.THIS .title-in{
    padding-top: 10px;
    width: 100%;
}

.THIS .content-in{
    padding-top: 10px;
    width: 100%;
}

.THIS .slds-textarea{
    height: 100px;
}
.THIS .procceed-button-div {
    width: 200px;
    height: 80px;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.THIS .back-button-div {
    width: 200px;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}


.THIS .proccee-button {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #033466;
    font-size: 18px;
}

.THIS .back-button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 18px;
}