.THIS .loader {
	float: right;
	border: 6px solid #f3f3f3;
	border-top: 6px solid #3498db;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
}

.THIS lightning-icon.errorIcon svg {
	fill: #c23934;
} 

.THIS .error {
	color: #c23934;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


.THIS .saveBtn{
	background-color: #92d050 !important;
    color: white !important;
}

.THIS input{
	background-color: aliceblue !important;
}

.THIS select{
	background-color: aliceblue !important;
	    color: black !important;
}

.THIS textarea{
	background-color: aliceblue !important;
}

.THIS .slds-dueling-list__options{
	background-color: aliceblue !important;
}

.THIS .slds-duslds-dueling-list__column{
	background-color: aliceblue !important;
}

.THIS [disabled] {
    background-color: rgb(233, 234, 236) !important;
    border-color: rgb(196, 198, 202) !important;
}

.THIS .slds-form-element__label{
	    font-family: 'Salesforce Sans',Arial,sans-serif !important;
    color: #222 !important;
    font-size: inherit !important;
}