.THIS form input.slds-has-error, .THIS form select.slds-has-error, .THIS form textarea.slds-has-error{
    background-color: #fff;
    border-color: #c23934;
    box-shadow: #c23934 0 0 0 1px inset;
    background-clip: padding-box;
}
.THIS select {
    height: 35px !important;
}