.THIS.hideDiv {
    display: none;
}

.THIS.fileUpload{
    margin-bottom:20px;
}

.THIS.buttons{
    /*float:left;*/
    position: absolute; bottom: 140px; right: -20px; width: 100%;
}


.THIS.overflow{
    max-height:250px;
    overflow-x:auto;
    overflow-y:auto;
    
}

.THIS .slds-footer-modal__footer{
    margin-top:10px;
}