.THIS .arrow {
	background-image: url(/resource/EUR_ISP_SLDS/assets/icons/utility/down.svg) !important;
	background-size: cover !important;
    background-color: rgb(192, 192, 192);
	display: inline-block;
	position: relative;
	color: white;
	top: 3px;
	cursor: pointer;
	border: 0;
	opacity: 0.5;
	width: 0.9rem !important;
	height: 0.9rem !important;
}
.THIS .arrow-right {
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.THIS .slds-tree > li {
	margin-top: 0.25rem;
}
.THIS .slds-tree ul {
	margin-left: 0.75rem;
}
.THIS .slds-tree ul span {
	text-decoration: underline;
	cursor: pointer;
}
.THIS .slds-tree li.slds-tree__item--active {
	color: #0673D3;
	padding: 0.125rem;
	border-radius: 0.25rem;
}