.THIS .thBlue {
	background-color: #023466 !important;
    color: #FFF !important;
    font-weight: bold !important;
}

.THIS .slds-m-top_small{
	background:#5CB85C !important;
	border-color:#47A447 !important; 
	color:#FFF !important;
}

.THIS .slds-m-top_small:hover{
	background:#47A447 !important;
	border-color:#398439 !important;
	color:#FFF !important;
}

.THIS .Closed td.color{
	background-color: #808080 !important;
}

.THIS .Closed td.color span{
	color: white !important;
}

.THIS .Closed td.color a{
	color: white !important;
	text-decoration: underline !important;
}

.THIS .Closed:hover td.color{
	background-color: #959596 !important;
}

.THIS .Pending td.color a{
	text-decoration: underline !important;
}

.THIS .Pending td.color{
	background-color: #f7f700 !important;
}

.THIS .Pending:hover td.color{
	background-color: #F9F936 !important;
}


.THIS .Rejected td.color{
	background-color: #ff3200 !important;
}

.THIS .Rejected td.color a{
	color: white !important;
	text-decoration: underline !important;
}

.THIS .Rejected:hover td.color{
	background-color: #FF6E5C !important;
}

.THIS .Rejected td.color span{
	color: white !important;
}

.THIS .Resolved td.color{
	background-color: #92d050 !important;
}

.THIS .Resolved td.color a{
	text-decoration: underline !important;
}

.THIS .Resolved:hover td.color{
	background-color: #A8D973 !important;
}

.THIS .On td.color a{
	text-decoration: underline !important;
}

.THIS .On td.color{
	background-color: #f7f700 !important;
}

.THIS .On:hover td.color{
	background-color: #F9F936 !important;
}

.THIS .In td.color{
	background-color: #92d050 !important;
}

.THIS .In td.color a{
	text-decoration: underline !important;
}

.THIS .In:hover td.color{
	background-color: #A8D973 !important;
}

.THIS .Waiting td.color{
	background-color: #ff3200 !important;
}

.THIS .Waiting td.color a{
	color: white !important;
	text-decoration: underline !important;
}

.THIS .Waiting:hover td.color{
	background-color: #FF6E5C !important;
}