.THIS .progress-container{
    width: 100%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}


.THIS .question-Container-First {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.THIS .question-Container {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}


.THIS .question-Container-Gustter {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.THIS input.uiInput--checkbox[type=checkbox] {
    display: inline-block;
}

.THIS .question-Container-Text {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.THIS .circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.THIS .circle-Q {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    border-radius: 50%;
    background-color: #033466;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.THIS .line {
    position: absolute;
    top: 45px;
    left: 0;
    border-top: 1px solid black;
    background: black;
    width: 100%;
    transform: translateY(-30%);
    z-index: 10;
}

.THIS.vCard > div.slds-card__body {
	margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

.THIS .proccee-button {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #033466;
    font-size: 18px;
}

.THIS .back-button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 18px;
}

.THIS .procceed-button-div {
    width: 200px;
    height: 80px;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.THIS .back-button-div {
    width: 200px;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.THIS .loading{
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}

.THIS .swal2-container {
    z-index:10000;
}