.THIS textarea {
    min-height: 25rem;
}

.THIS .hide-legend legend {
    display: none;
}

.THIS span.slds-badge.slds-truncate {
    display: block;
    max-width: fit-content;
}

.THIS .slds-tabs_scoped__content,
.THIS .slds-tabs--scoped__content {
    height: 525px;
    overflow: auto;
}

.THIS div.slds-p-horizontal_small.cFilterBuilder > button + button,
.THIS div.slds-p-horizontal--small.cFilterBuilder > button + button {
    display: initial;
}

.THIS.filter-warning-popover {
    margin: 1.5rem;
    padding: 1rem;
    line-height: 150%;
}

.THIS.filter-warning-popover ul {
    margin-left: 1.5rem;
    list-style: disc;
    font-style: italic;
}