/**
 * Created by bsavcı on 8/27/2020.
 */

.THIS .filter-input {
    margin-top: 5px;
}

.THIS .filter-item {
    border: rgb(221, 219, 218) 1px solid;
    border-radius: .25rem;
    padding: .75rem;
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
    position: relative;
}

.THIS .filter-line {
    margin: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.THIS .filter-item button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.THIS .action-bar ul {
    margin-bottom: 8px;
    float: right;
}

.THIS .action-bar li {
    display: inline-block;
    margin-left: 3px;
}

.THIS .action-bar li:last-child {
    margin-right: 3px;
}

.THIS .action-bar .search-box {
    width: 350px;
}

.THIS ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.THIS ul.pagination li {
    display: inline;
}

.THIS ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.THIS ul.pagination li a.active {
    background-color: rgb(0, 95, 178);
    color: white;
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.THIS ul.pagination li a:hover:not(.active) {
    background-color: rgb(216, 237, 255);
}
.THIS .slds-dueling-list__column_responsive {
    min-width: 45%;
}
.THIS .slds-dueling-list__column_responsive .slds-dueling-list__options {
    min-width: 100%;
}