.THIS.row  {
    padding-top: 40px;
}

.THIS h2 {
    color: #696464;
    /* font-size: 30px; */
    /* padding-bottom: 10px; */
    padding-top: 20px;
    text-align: center;
}

.THIS h2 .slds-text-heading_small {
    font-size: 22px;
}

.THIS input {
	height: 45px;
}

.THIS label {
    color: #777;
    font-size: 15px;
}

.THIS textarea {
    height: 100px;
}

.THIS button {
    width: 100%;
}

.THIS a.loginLink {
    color: white;
}
.THIS p{
    text-align: center;
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}
.THIS .slds-card__header{
    color: black;
}

.THIS .record-list .slds-page-header--object-home {
    background-color: transparent;
    padding-top: 0;
}

.THIS .record-list .slds-page-header--object-home .slds-grid .slds-col:first-child {
	visibility: hidden; 
	height: 0;
}

.THIS .slds-var-p-right_x-small{
    visibility: hidden; 
	height: 0;
}
.THIS .firstHeaderRow{
    visibility: hidden; 
	height: 0;
} 
.THIS .record-list .slds-table thead th {
	color: rgba(0, 0, 0, 0.6);
	font-weight: normal;
} 

.THIS .record-list .slds-table tbody th * {
	color: rgba(0, 0, 0, 0.8);
}

.THIS .detail-bar {
	display: flex;
	flex-wrap: wrap;
}

.THIS .detail-bar > div {
	width: 25%;
}

.THIS .detail-bar > div:first-child {
	width: 75%;
}

.THIS .bar {
	float: right;
}

.THIS .detail-bar .title {
	font-size: 1rem;
	font-weight: 700;
}

.THIS .detail-bar .slds-progress-bar {
	float: right;
}