.THIS {
	color: #000;
	display: flex;
	flex-wrap: wrap;
	font-family:Arial, Helvetica, sans-serif !important;
	
}
.THIS .blocked-client-header {
    background-color: #025b75;
    color: white;
}
.THIS .blocked-client-body {
    color: #444242;
    padding: 25px;
    font-weight: bold;
}
.THIS .orderBlocked {
    position: absolute;
    top: 128px;
    text-align: center;
    width: 100%;
    z-index: 999999;
    text-transform: uppercase;
    font-size: 21px;
    font-style: italic;
    left: 0;
    color: #FFF;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.THIS .orderBlocked h3 {
    color: #FFF;
    font-weight: initial;
    font-size: large;
    margin-top:20px;
}
.THIS .orderBlocked h1 {
    color: #FFF;
    font-style: normal;
    font-weight: initial;
}
.THIS .no-image {
        margin-top: 75px;
}
.THIS .ribbon {
  background-color: #353889;
  z-index: 12;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  right: -50px;
  top: 40px;/*
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);*/
	-webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.THIS .ribbon .text {
  border: 1px solid #658ec7;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*margin: 1px 0;
  padding: 10px 50px;*/
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
}
.THIS .ribbon  span{ 
	font-size: 18px;
}
.THIS .tachado {
    text-decoration: line-through;
}
.THIS a,
.THIS a:hover {
	text-decoration: none;
}
.THIS .hidden,
.THIS .list-view .list-view-hide {
	display: none !important;
}
.THIS .list-view .list-view-show {
	display: block !important;
}
/* ----   HEADER    ----- */
.THIS .header {
	/* display: flex; */
	width: 100%;
	position: relative;
    height: 50px;
    border-bottom: 1px solid #AAAAAA;
}
.THIS .quantity .inqty .slds-input {
	width: 3em;
    font-size: 22px;
    color: #666;
	text-align: center;
	padding: 4px 0px;
	
}
.THIS .quantity {
	float: right;
    margin-right: 5px;
    
}
.THIS .header > div {
    /* border-left: solid 1px #AAAAAA; */
    color: #606060;
    font-size: 12px;
    font-weight: 500;
    padding-right: 2%;   
}
.THIS .header > div.filter-block {
    /* border-left: solid 1px #AAAAAA;*/
}
.THIS .header .filter-block:last-child {
    /*border-right: solid 1px #AAAAAA;*/
}
.THIS .header .filter-block {
	position: relative;
    float: left;
    padding: 11px 50px;
    z-index:14;
}
.THIS .slds-radio_button__label {
	padding: 4px 0px;
}
.THIS .slds-radio_button-group {
	margin-bottom: 10px;
	zoom: 94%;
}
.THIS .header .header-btn {
	height: 100%;
	color:#5d5d5a;
}

.THIS .profile-menuTrigger::last-word{
    color:red;
}
.THIS .slds-radio_faux {
    color: #555;
    font-size: small;
    padding-right: 12px;
    padding-left: 12px;
}
.THIS .slds-radio_button [type="radio"]:disabled + .slds-radio_button__label .slds-radio_faux {
	color: darkgrey;
}
.THIS .header .header-btn.opened {
	color: #606063;
}
.THIS .slds-radio_button [type="radio"]:checked + .slds-radio_button__label {
	background: #555;
	color: #fff;
}
.THIS .slds-radio_button [type="radio"]:checked + .slds-radio_button__label .slds-radio_faux {
	color: #fff;
}
.THIS .header .filter-block .append-to {
	/*display: block;*/
    display: none;
	-webkit-box-shadow: -1px 19px 45px -22px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 19px 45px -22px rgba(0,0,0,0.75);
	box-shadow: -1px 19px 45px -22px rgba(0,0,0,0.75);
	background-color: #fff;
	padding: 20px 25px 0 25px;
	position: absolute;
	min-width: 350px;
    height: 300px;
    z-index: 12;
}
.THIS .header .filter-block .append-to-category {
	display: none;
	-webkit-box-shadow: -1px 19px 45px -22px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 19px 45px -22px rgba(0,0,0,0.75);
	box-shadow: -1px 19px 45px -22px rgba(0,0,0,0.75);
	background-color: #fff;
	padding: 20px 25px 0 25px;
	position: absolute;
	min-width: 380px;
    height: 220px;
    z-index: 12;
}
.THIS .header .filter-block:hover .append-to {
	display: block;
}
.THIS .header .filter-block .brand-list {
	top:102%;
	left: -9%;
	width: 700px;
	padding-left: 43px;
}
.THIS .header .filter-block .cat-list {

}
.THIS .header .filter-block .brand-list h3 {
	margin-bottom: 15px;
	font-weight: 700;
	color: #000;
}
.THIS .header .filter-block .brand-list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #606063;
    height: 82%;
}
.THIS .header .filter-block .brand-list ul li {
	margin-bottom: 20px;
}
.THIS .header .filter-block .brand-list ul a {
	color: #606063;
	font-size: 12px;
	font-weight: 500;
}
.THIS .header > div:not(:last-child) {
	/* cursor: pointer;
	max-width: 22.5%;
	text-align: center;
	width: 22.5%; */
}
.THIS .header > div:not(:last-child) {
	/* cursor: pointer;
	max-width: 22.5%;
	text-align: center;
	width: 22.5%; */
}
.THIS .header > div:last-child {
	/* width: 55%;
	padding-left: 30%; */
}
.THIS .header .f-right {
	float: right;
}
.THIS .header > div:first-child:last-child {
	border-right: solid 1px #AAAAAA;
}
.THIS .header > div:last-child > div {
	display: inline-grid;
}
.THIS .header > div:last-child > div .slds-form-element__control {
	max-width: 224px;
    float: left;
    text-align: center;
}
.THIS .header > div:last-child > div .slds-input {
	border: 1px solid black;
    border-radius: 19px;
    height: 38px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.THIS .header .slds-input-has-icon .slds-input__icon {
	top: 47%;
}
.THIS .header > div:last-child > div .slds-icon svg {
	height: 15px;
    width: 15px;
}
.THIS .header nav .slds-breadcrumb__item::before {
	top: 3.5px;
	font-size: 9px;
}
.THIS .header .order-count {
	width: 22px;
    height: 22px;
    display: inline-block;
    text-align: center;
    padding-top: 4%;
    background-color: #939393;
    border-radius: 11px;
    color: #fff;
}
.THIS .body {
	display: flex;
	min-width:100%; 
}
.THIS .main-content {
	min-width:100%;
}
/* ----   NAVBAR    ----- */
.THIS .main-content .navbar  {
	background-color: #F7F7F7;
	height: 45px;
	padding: 0 7%;
    min-width: 100%;
}
.THIS .main-content .navbar > div {
	width: 33%;
} 
.THIS .main-content .navbar > .filter-list-container span {
    font-size: 12px;
    font-weight: 700;
	margin-left: 5%;
}
.THIS .main-content .navbar > .filter-list-container .filter-list-button {
 	cursor: pointer;
    height: 100%;
    width: 47%;
    padding-left: 8%;
    padding-top: 1.5%;
}
.THIS .main-content .navbar > .filter-list-container .filter-list-button.opened > .slds-icon.close-icon,
.THIS .main-content .navbar > .filter-list-container .filter-list-buttons > .slds-icon.filter-icon {
	display: inline-block !important;

}
.THIS .main-content .navbar > .filter-list-container .filter-list-button.opened > .slds-icon.filter-icon,
.THIS .main-content .navbar > .filter-list-container .filter-list-button > .slds-icon.close-icon {
	display: none;
}
.THIS .main-content .navbar > .filter-list-container .filter-list-button:hover,
.THIS .main-content .navbar > .filter-list-container .filter-list-button:focus,
.THIS .main-content .navbar > .filter-list-container .filter-list-button:active,
.THIS .main-content .navbar > .filter-list-container .filter-list-button.opened {
    background-color: #e2e2e2;
}
.THIS .main-content .navbar > .filter-list-container .filter-list-button  > span {
	pointer-events: none;
}
.THIS .main-content .navbar .button-group {
	text-align: right;
}
.THIS .main-content .navbar .btn-view-type {
	background-color: transparent;
	border: none;
    width: 47px;
    height: 45px;
    margin-left: 10px;
    border-radius: 0;
}
.THIS .main-content .navbar .filter-icon {
	transform: rotate(90deg);
	margin-top: 3%;
}
.THIS .main-content .navbar .close-icon {
	margin-top: 3%;
}
.THIS .main-content .navbar .btn-view-type lightning-primitive-icon {
	height: 24px;
    position: relative;
    left: -4px;
}
.THIS .main-content .navbar .btn-view-type svg {
    fill: rgb(107, 109, 112);
	height: 24px;
	width: 24px;
}
.THIS .main-content .navbar .btn-view-type:hover svg,
.THIS .main-content .navbar .btn-view-type:active svg,
.THIS .main-content .navbar .btn-view-type:focus svg,
.THIS .main-content .navbar .btn-view-type.selected svg {
    fill: rgb(0, 0, 0);
}
.THIS .main-content .filter-list {
    background-color: #fff;
    /*min-height: 150px;*/
    min-width: 319px;
    width: 30%;
    padding-left: 9%;
    padding-top: 1%;
    position: absolute;
    transform: translate(0, 45px);
    z-index: 11;
}
.THIS .main-content .filter-list a.delete-filter {
	font-size: .9rem;
	display: inline-block;
	color: #6a6a6b;
}
.THIS .main-content .filter-list .delete-filter span { 
	padding-top: 3px;
}
.THIS .main-content .filter-list .filter-container {
    padding: 3% 0;
}
.THIS .main-content .filter-list .filter-container h3 {
	font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 5%;
}
.THIS .main-content .filter-list .filter-size ul {
	display: flex;
	flex-wrap: wrap;
}
.THIS .main-content .filter-list .filter-container li{
    color: #b5b5b5;
    margin: 1% 0;
    width: 50%;
}
.THIS .main-content .filter-list .filter-container li a {
	color: #A6A6A6;
}
.THIS .main-content .filter-list .filter-container li a:hover,
.THIS .main-content .filter-list .filter-container li a:focus,
.THIS .main-content .filter-list .filter-container li a.active {
	color: #515151;
	font-weight: 600;
}
.THIS .main-content .filter-list .filter-container li .check-icon {
	display: none;
}
.THIS .main-content .filter-list .filter-container li a.active .check-icon {
	display: inline-block;
}
.THIS .main-content .filter-list .filter-size .filter-size-button {
	width: 105px;
    background: #fff;
    color: #A6A6A6;
    border-radius: 16px;
    border-width: 2px;
    border-style: solid;
    padding: 2%;
    margin: 7% 0 4% 0;
}
/* ----   PRODUCTS    ----- */
.THIS .main-content .product-list {
	padding-top: 45px;
	margin-left: 7%;
	width: 90%;
	min-height: 400px;
}
.THIS .main-content .list-view {
	margin: 0 4.5%;
}
.THIS .main-content .list-view .list-view-hidden {
	display: none !important; 
}
.THIS .main-content .product {
    margin-bottom: 15px;
    width: 22%;
}
.THIS .main-content .list-view .product {
	width: 100%;
	border-bottom: 1px solid #000;
	margin-bottom: 0;
	display: flex;
    height: 218px;
    min-height: 218px;
}
.THIS .main-content .list-view .product:first-child {
	border-top: 1px solid #000;
}
.THIS .main-content .product-list:not(.list-view) .product {
	margin-right: 35px;
    overflow: hidden;
    background: #fbfbfb;
    position: relative;
}
.THIS .main-content .list-view .product .product-info {
	margin: 5% 0 0 5%;
    width: 50%;
}
.THIS .main-content .product .product-info {
    padding-left: 8px;
}
.THIS .main-content .product > div {
	font-weight: 700;
}
.THIS .main-content .product .product-price {
	font-size: .9rem;
}
.THIS .main-content .list-view .product .product-name,
.THIS .main-content .list-view .product .product-price {
	font-size: 1.2rem;
	font-weight: 700;
}
.THIS .main-content .product .product-name a {
	color: #000;
	text-decoration: none;
}
.THIS .main-content .product .product-image {
	position: relative;
	text-align: center;
}
.THIS .main-content .list-view .product-image {
	width: 15%;
}
.THIS .main-content .product-list:not(.list-view) .product .product-image {

    min-height: 300px;
    width: 100%;
    overflow: hidden;
    
}
.THIS .main-content .product img {
    height: 100%;
    max-height: 300px;
    width: fit-content;  
    margin-bottom: 5px;
    padding-top: 0;
    /* background-color: #A7A739; */
}
.THIS .main-content .list-view .product img{
	float: left;
}
.THIS .main-content .product .product-image .product-image-opt {
    bottom: 3%;
    border-radius: 6px;
    background-color: #f1efef;
    display: block;
    /* margin-left: 6%; */
    opacity: 0;
    overflow: hidden;
    padding: 7px;
    position: absolute;
	/* width: 88%; */
	width: 100%;
    text-align: center;
    /* transition: opacity .6s ease-out;
	-webkit-transition: opacity 0.6s ease-out; */
	transform: translateY(130%);
	transition-timing-function: ease-in;
	transition: 0.8s;
	
}
.THIS .float-right{
    float:right;
}
.THIS .margin-left{
    margin-left:13px;
}
.THIS .margin-left-2{
    margin-left:20px;
}
.THIS .float-left{
    float:left;
}
.THIS .main-content .product .shop-options {
	display: none;
	text-align: right;
}
.THIS .main-content .list-view .product .shop-options {
    width: 30%;
    padding: 3% 5% 3% 0;
}
.THIS .main-content .list-view .product .shop-options button:not(.btn-add) {
	width: 105px;
    background: #fff;
    color: #A6A6A6;
    border-radius: 16px;
    border-width: 2px;
    border-style: solid;
    padding: 2%;
    margin: 7% 0 4% 0;
}
.THIS .main-content .list-view .product .shop-options button:not(.btn-add):hover,
.THIS .main-content .list-view .product .shop-options button:not(.btn-add):active,
.THIS .main-content .list-view .product .shop-options button:not(.btn-add):focus
.THIS .main-content .list-view .product .shop-options button.selected:not(.btn-add) {
	border-color: #000;
	color: #000;
}
.THIS .main-content .list-view .product .shop-options button.btn-box {
    margin-right: 3%;
}
.THIS .main-content .product .product-image .product-image-opt.show,
.THIS .main-content .product .product-image:hover .product-image-opt,
.THIS .main-content .product .product-image:focus .product-image-opt,
.THIS .main-content .list-view .product-image .product-image-opt {
    /* height: auto; */
	 opacity: 1;
	 /* This timing applies on the way IN */
	transition-timing-function: ease-out;

	/* A litttttle slower on the way in */
	transition: 0.25s;
	
	/* Move into place */
	transform: translateY(0);

}
.THIS .main-content .product .product-image img {
	transition: transform .2s; /* Animation */
}
.THIS .main-content .product .not-stock, .THIS .main-content .product.disabled-product  .product-image-opt {
	display: none;
}
.THIS .main-content .product.disabled-product .not-stock {
	display: block;
	
}
.THIS .main-content .product.disabled-product .not-stock {
	display: block;
	
}
.THIS .main-content .product.disabled-product .new-ribbon-red {
	display: none;
	
}
.THIS .main-content .product.disabled-product .not-stock {
    background-color: #ddd;
    width: 100%;
    height: 37px;
    line-height: 40px;
    font-size: 19px;
    text-align: center;
    position: relative;
    color: #6f7477;
    margin-top: -45%;
	} 
.THIS .color-red{
    padding-left : 15px;
    color:#e12c2c;
}
.THIS .new-ribbon {
    width: 272px;
    height: 23px;
    line-height: 18px;
    font-size: 14px;
    text-align: center;
    /*position: relative;*/
    padding-top: 2px;
    z-index: 10000;
    top: 57px;
} 
.THIS .new-ribbon-red {
    background-color: #e12c2c;
    height: 23px;
    line-height: 18px;
    font-size: 14px;
    text-align: center;
    /*position: relative;*/
    color:white;
    padding-top: 2px;
    z-index: 10000;
} 
.THIS .fullwidth{
	width:147px;    
    border-top-right-radius:0.25rem;
    border-bottom-right-radius:0.25rem;
}
.THIS .main-content .product.disabled-product .not-stock:before, .THIS .main-content .product.disabled-product .not-stock:after {
	    background-color: rgb(143, 143, 143);
    width: 31px;
    height: 41px;
    content: '';
    display: block;
    transform: skewY(20deg);
    position: absolute;
    z-index: -1;
  }
.THIS .main-content .product.disabled-product .not-stock:before {top:10px; left:0; }
.THIS .main-content .product.disabled-product .not-stock:after {top:-10px; right:0; }
.THIS .main-content .product.disabled-product .product-image img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
.THIS .main-content .product .product-image:hover img {
	transform: scale(0.80) translate(0px,-38px); 
    cursor: pointer;
}
.THIS .border-red {
    /*border-style: ridge;    
    border-color:#e12c2c;*/
}
.THIS .main-content .list-view .product-image .product-image-opt{
	position: relative;
}
.THIS .main-content .product .btn-add {
	background-color: #5c5c5c;
    border: none;
    color: #fff;
    font-weight: 300;
    font-size: .7rem;
    /* height: 34px; */
   	width: 77%; 
    padding: 8px 4px 1px;
    border-radius: 3px;
    border-width: 2px;
}
.THIS .main-content .list-view .btn-add {
	height: 45px;
	padding-top: 2%;
	width: 218px;
	font-size: inherit;
}
.THIS .main-content .product .btn-add .slds-icon svg {
	fill: rgb(255, 255, 255);
}
.THIS .main-content .product .product-description {
    color: #606063;
    font-size: 0.76rem;
}
.THIS .main-content .list-view .product .product-description {
	font-size: 12px;
    letter-spacing: 0.595px;
}
.THIS .btn-add-to-cart {
    background-color: #fff;
    color: #606063;
    border: 2px solid #606063;
    border-radius: 19px;
    letter-spacing: 1px;
    padding: 7px 20px;	
}
.THIS .new-order-modal .slds-modal__content {
	min-height: 100px;
}
.THIS .new-order-modal .slds-button.btn-cancel {
	color: #000;
}
.THIS .new-order-modal .slds-button_brand {
    background-color: #939393;
    border: #939393;
    outline: #939393;
}