.vCard > header.slds-card__header.slds-grid {
	display: none !important;
}

.vCard > div.slds-card__body {
	margin-top: 0;
	margin-bottom: 0;
}

.container {
    width: 90%;
}

.header {
    width: 100%;
    padding-top: 21.5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #959493;
}

.header-title {
    font-size: 18px;
    font-weight: 900;
    line-height: 18px;
}

.header-date {
    margin-top: 5px;
    color: #959493;
}

.sku-list-container {
    width: 100%;
}


.sku-list-summary-container {
    margin-top: 10px;
}

.sku-list-summary-header-container {
    width: 100%;
    line-height: 40px;
    background-color: #F2F2F2;
    text-align: center;
}

.sku-list-summary-detail-container {
    padding: 15px 0;
}

.sku-list-summary-detail {
    margin-bottom: 10px;
}

.sku-list-summary-title {
    line-height: 26px;
}

.sku-list-summary-value {
    font-weight: 900;
    font-size: 22px;
}


.delivery-container {
    padding-top: 40px;
}

.form-container {
    width: 100%;
}

.form-field-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.form-field-container > lightning-input {
    padding: 10px 0;
}


.form-field-container .slds-form-element .slds-form-element__label {
    color: #111111;
    margin-bottom: 14px;
}

.form-title {
    margin-bottom: 14px;
}

.form-input {

}

.form-input-textarea {
    min-height: 100px;
}

.button-container {
    padding-bottom: 25px;
}

.submit-button {
    width: 200px;
    height: 50px;
}

.order-item-image {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    background-color: #959493;
}

.order-item-name {
    font-size: 16px;
    line-height: 19px;
}

.order-item-sku-code {
    color: #959493;
}

.order-item-price {
    margin-top: 3px;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
}

.order-item-summary-container {
    border-top: 1px dotted #959493;
    padding-top: 20px;
    margin-top: 20px;
}


.order-item-summary-title {
    font-size: 12px;
    line-height: 16px;
    color: #959493;
    margin-right: 5px;
}

.order-item-summary-value {
    font-weight: 900;
    font-size: 22px;
}

.skuItem {
    padding: 20px 0;
    border-bottom: 1px dotted #959493;
}