/* The device with borders */
.smartphone {
    position: relative;
    width: 190px;
    height: 380px;
    margin: auto;
    border: 5px black solid;
    border-top-width: 30px;
    border-bottom-width: 35px;
    border-radius: 30px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
    /*content: '';*/
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
    width: 182px;
    height: 321px;
    background: white;
    overflow: auto;
}

.cuf-content {
    padding: 0 0rem !important;
}
.slds-p-around--medium {
    padding: 0rem !important;
}       
.slds-modal__content{
    /* overflow-y:hidden !important; */
    height:unset !important;
    max-height: 480px!important;
}

.smsHeader{
    height: 32px;
    background: #d3d3d3;
    font-size: 1.1em;
    padding: 5px;
}

.smsMessage {
    background-color:#e3e3e3;
    border-radius: 14px;
    max-width: 70%;
    display: inline-block;
    margin-left: 2px;
}

.slds-spinner_container{
    background: none;
}