.THIS .switch {
    position: relative;
    cursor: auto;
}

.THIS .switch > span {
    position: absolute;
    display: block;
    top: -50%;
}

.THIS .selectedFilter {
    color: rgb(0, 112, 210);
}

.THIS .popoverPosition {
    display: none;
    position: absolute;
    margin-left: 15px;
    margin-top: -7px;
}

.THIS .errorSection:hover .slds-popover {
    display: inherit;
}