.tableOrder {
    width: 8%;
    vertical-align: text-top;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
  }
.tableContent {
    width:92%;
    font-size: 20px;
    padding-bottom:20px;
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
}

.tableSubContent {
    width:92%;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}
.tableTopic {
    width:92%;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

.signTable {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

.signTableFirstColumn {
    width: 35%;
    font-family: "Times New Roman", Times, serif;
}

.exampleTable th, .exampleTable td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Times New Roman", Times, serif;
}
.input {
    width:300px;
    font-family: "Times New Roman", Times, serif;
}
.justifyAlign {
    text-align: justify;
}