/**
 * Created by V. Kamenskyi on 19.09.2017.
 */
.THIS .manual-sharing-container {
    background-color: #ffffff!important;
}

.THIS .slds-table {  
    border-top: 1px solid rgb(221, 219, 218);
    border-collapse:separate; 
}

.THIS .data-table th {
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    border: 1px solid rgb(221, 219, 218);
    padding-bottom: 0.15rem;
    margin-top: 0.1px
}


.THIS .headcol {
    position: absolute;
    width: 6rem;
    left: 0;
    padding-left: 0.5rem; 
    top: auto;
    border-top: 1px solid rgb(221, 219, 218);
}

.THIS .data-table thead th {
    background-color: rgb(255, 255, 255);
    padding-bottom: 0.25rem;
    margin-top:-1px;
}