.THIS .slds-map {
  min-width: 0;
}

.THIS .vCard > div.slds-card__body {
  margin-top: 0;
  margin-bottom: 0;
}

.THIS body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.THIS .header {
  padding: 0;
}

.THIS .remark {
  position: relative;
  border-top: 1px dotted #959493;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.THIS .bold {
  font-weight: 900;
}

.THIS .link {
  color: #033466;
}

.THIS .itemTitle {
  position: relative;
  font-size: 100%;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-top: 1px dotted #959493;
  border-bottom: 1px dotted #959493;
}

.THIS .inputRow {
  position: relative;
  font-size: 100%;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.THIS .inputRow2 {
  position: relative;
  font-size: 100%;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
}

.THIS .slds-textarea {
  font-size: 16px;
  height: 100px;
  line-height: 1.6em;
}

.THIS .slds-input {
  font-size: 16px;
  line-height: 1.6em;
  height: 45px;
}

.THIS .floatLeft {
  float: left;
}

.THIS .floatRight {
  float: right;
}

.THIS .buttonDiv {
  padding-top: 5px;
	padding-bottom: 15px;
}

.THIS .submitBtn {
  width: 200px;
  height: 50px;
  background-color: #033466;
  font-size: 100%;
}

.THIS .sWrapper {
  height: 200px;
}