/**
 * Created by User on 5/31/2018.
 */
.THIS .slds-modal__container {
    max-width: none;
    width:1000px;
    /*width:80%;*/
    height: 90%;
    margin-top: 100px;
}
.THIS .div1{
    width: 300px;
    float: left;
}
.THIS .div2{
    width: 600px;
    margin-left: 350px;
}

.THIS .slds-spinner_container {
    background-color: transparent !important;
}

/*.THIS .div1{*/
    /*width: 50%;*/
    /*float: left;*/
/*}*/
/*.THIS .div2{*/
    /*width: 50%;*/
    /*margin-left: 55%;*/
/*}*/