.THIS {
    padding: 40px;
}

.THIS h1 {
    font-size: 25px;
    color: black;
}

.THIS h2 {
	color: black;
    font-size: 18px;
    margin-bottom: 10px;
}

.THIS h3 {
    font-size: 20px;
}

.THIS .product-image {
    max-height: 800px;
}

.THIS .slds-col div {
    margin-top: 20px;
}

.THIS .slds-dl_inline__detail {
    color: black;
}

.THIS .product-description {
    max-width: 750px;
}

.THIS .dark {
    color: black;
}
.THIS .order-info {
    float: right;
    width: 45%;
    position: sticky;
    top: 0;
    transform: translateZ(0);
    transition:all 0.5s;
    padding-left: 5%;
}
.THIS .sub span {
    float: right;
    font-weight: bold;
}
.THIS .sub div {
    float: right;
    font-weight: bold;
}
.THIS .datosCliente{
    margin-bottom: 5px;
    margin-top: 5px;
}
.THIS .action a {
    width: 100%;
    /* height: 90px; */
    position: relative;
    display: block;
    text-transform: uppercase;
    text-align: center; 
    background: #4e4e4e;
    color: #fff;
    padding: 18px;
    /* font-weight: 100; */
    font-size: 14px;  
    overflow: hidden;
}