.THIS:not(html) {
	font-size: 12px !important;
}
.THIS .slds-text-body--regular,
.THIS .slds-text-heading--label,
.THIS .slds-section-title--divider,
.THIS .slds-form-element__label,
.THIS .dropdown-menu,
.THIS .btn-group.dropup > button {
	font-size: 12px !important;
}
.THIS .btn-group.dropup > button {
	padding: 3px 6px !important;
}
.THIS .fixed-table-pagination .pagination a {
	padding: 4px 8px !important;
}
.THIS span.help--marker {
	display: inline;
	margin-left: 5px;
}
.THIS span.help--marker::after {
	content: '?';
	color: #fff;
	background-color: #C1C9D6;
	font-size: 10px;
	border-radius: 6px;
	font-weight: bolder;
	padding: 2px 5px 2px 5px;
	cursor: pointer;
}
.THIS span.help--marker:hover > div {
	display: inline-table;
	position: absolute;
	top: -45px;
	left: 0;
	text-align: left;
	overflow: hidden;
}
.THIS .slds-table tr>th:first-child, .THIS .slds-table tr>td:first-child {
	padding-left: 0.5rem !important;
}
.THIS .slds-table tr>th:last-child, .THIS .slds-table tr>td:last-child {
	padding-right: 0.5rem !important;
}
.THIS .fixed-table-container thead th .th-inner,
.THIS .fixed-table-container tbody td .th-inner {
	padding: initial;
}
.THIS .bootstrap-table td,
.THIS .slds-table th,
.THIS .slds-table td {
	padding: 0.25rem !important;
}
.THIS .slds-tabs--scoped__content {
	padding: 0.5rem !important;
}
.THIS .slds-button--small {
	line-height: 1.5rem !important;
	min-height: 1.875rem !important;
}
.THIS .slds-page-header {
	padding: 0.5rem 1.5rem 0.75rem !important;
}
.THIS .slds-input,
.THIS .uiInput--select,
.THIS .slds-pill-container {
	line-height: 1rem !important;
	min-height: calc(1.75rem + 2px) !important;
}
.THIS .slds-modal__content {
	word-wrap: break-word;
	display: inline-block;
	white-space: normal !important;
}
.THIS .slds-form-element__row {
	display: block !important;
}