.THIS .product-list {
    float: left;
    width: 55%;
}
.THIS .prod-detail {
    padding: 13px 10px 0 216px;
}
.THIS .prod-detail h2 {
    font-size: 14px;
}
.THIS .price{
    font-size: 17px;
    color: #222;
    margin-bottom: 8px;
}

.THIS .delete-item {
    position: absolute;
    right: 10px;
    top: 10px;
}

.THIS  .prod-detail h3 {
    color: #222;
    font-size: 18px;
    margin-bottom: 10px; 
}

.THIS  .stock .prod-detail h3 {
    color: #e09393;
    font-size: 18px;
    margin-bottom: 10px;
}

.THIS .sub.title { 
    font-size: 13px;
    font-weight: bold;
    background: #eee;
    text-transform: uppercase;
}
.THIS .text { 
    padding: 0 20px 10px;
}
.THIS .slds-form-element__icon {
    margin-top: -5px;
}
.THIS {
    padding: 40px 0;
}

.THIS .backgroundInverse {
    position: absolute;
    background-color: #dadada;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 4;
    top: 0;
    opacity: .7;
}

.THIS .sync {
    position: absolute;
    top: 128px;
    text-align: center;
    width: 100%;
    z-index: 999999;
    text-transform: uppercase;
    font-size: 21px;
    font-style: italic;
    left: 0;
    color: #000;
}
.THIS .act a, .THIS .info-pr, .THIS .act {
    float: left;
}
.THIS .act a {
    font-size: 26px;
    line-height: 16px;
    padding: 0 10px;
    color: #000;
    font-weight: bold;
}
.THIS .stock-issues {
    cursor: not-allowed;
    opacity: 0.3;
}
.THIS .stock-error {
    font-size: 13px;
    text-align: center;
    padding: 10px;
    width: 100%;
    display: block;
    color: #a50b0b;
    font-weight: bold;
}
.THIS  a.disabled {
    cursor: not-allowed;
    opacity: 0.4;
}
.THIS .act a:hover, .THIS .act a:active {
    color: #666;
    text-decoration: none;
}
.THIS .stock .number {
    border: solid 1px #a22f2f;
    color: #961b1b;
}
.THIS .stock-qty {
    display: none;
}
.THIS  .stock .stock-qty {
    display: block;
}
.THIS  .number {
    border: solid 1px #222;
    border-radius: 50%;
    min-width: 30px;
    float: left;
    margin: 0;
    min-height: 30px;
    text-align: center;
    font-size: 17px;
    color: #000;
    margin-top: -5px;
}
.THIS .order-info {
    
    max-width: 50%;
    margin-right:25px;
    top: 0;
    transform: translateZ(0);
    transition:all 0.5s;
    padding-left: 5%;
}
.THIS .clear {
    clear: both;
}
.THIS .order-control {
    color: #222;
        background: #efecec;
        padding: 21px;
        /* font-weight: 100; */
        border-top: solid 1px #d4d2d2;
        border-bottom: solid 1px #d4d2d2;
    
}
.THIS .totals {
    /* font-weight: 100; */
    color: #222;
}
.THIS .totals .sub, .THIS .totals .total {
    padding: 7px 20px;
    border-bottom: solid 1px #ddd;
}
.THIS .action a {
    width: 100%;
    /* height: 90px; */
    position: relative;
    display: block;
    text-transform: uppercase;
    text-align: center; 
    background: #4e4e4e;
    color: #fff;
    padding: 18px;
    /* font-weight: 100; */
    font-size: 14px;  
    overflow: hidden;
}
.THIS .actionSuccess a{
    width: 100%;
    /* height: 90px; */
    position: relative;
    display: block;
    text-transform: uppercase;
    text-align: center; 
    background: #52b57a;
    color: #fff;
    padding: 18px;
    /* font-weight: 100; */
    font-size: 14px;  
    overflow: hidden;
}

.THIS .action a:hover {
    color: #ddd;
    text-decoration: none;
}
.THIS .action a.disabled {
    cursor: not-allowed;
    opacity: 0.4;
}
.THIS .my-row {
    border-bottom: 1px solid #ddd;
    position: relative;
}
.THIS .my-row.stock .img-cont { 
    opacity: 0.4;
}
.THIS .stock .price {
    color: #908484;
}
.THIS .stock-qty {
    float: right;
    font-size: 14px;
    color: #147114;
}
.THIS .my-row .img-cont {
    float: left;
    width: 166px;
    /* margin-right: 1%; */
    min-height: 150px;
    background: #f1f1f1;
    text-align: center;
    margin: 10px 20px 10px 0;
}
.THIS .my-row .img-cont img{
    max-height: 170px;
}

.THIS .stock .add-qty{ display: none;}
.THIS .items-list  {
    padding: 5px 20px 50px;
    position: relative;
}
.THIS .totals .total {
    font-size: 21px;
    color: #111;
}
.THIS .sub span {
    float: right;
    font-weight: bold;
}

.THIS .total span {
    float: right;
    font-weight: bold;   
}

.THIS .datosCliente{
    margin-bottom: 5px;
    margin-top: 5px;
}
.THIS .datosCliente{
    margin-bottom: 5px;
    margin-top: 5px;
}

.THIS  .colorIndianRed svg{
    fill: indianred;
}
.THIS .slds-text-heading_medium {
    border-bottom: solid 2px #ddd;
    margin-bottom:25px;
}
.THIS .slds-modal__footer {
   text-align: center;
}
.THIS .slds-modal__header  {
    padding:20px;
}
.THIS .order-date-table, .THIS .order-info{
    float:left;
    width:48%;
}
.THIS .order-data-table-header {
    height: 30px;
    padding-top: 5px;
    margin-top: 15px;
    font-weight: bold;
    color: black;
}
.THIS .slds-th__action{ justify-content: center !important; }
.THIS .slds-grid_align-spread { justify-content: center !important; }