.slds-map {
	min-width: 0;
  }
  
  .vCard > div.slds-card__body {
	margin-top: 0;
	margin-bottom: 0;
  }
  
  body {
	padding: 0;
	margin: 0;
	background-color: #fff;
  }
  
  .header {
	padding: 0;
  }
  
  .remark {
	position: relative;
	border-top: 1px dotted #959493;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
  }
  
  .bold {
	font-weight: 900;
  }
  
  .link {
	color: #033466;
  }
  
  .itemTitle {
	position: relative;
	font-size: 100%;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 15px;
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-top: 1px dotted #959493;
	border-bottom: 1px dotted #959493;
  }
  
  .inputRow {
	position: relative;
	font-size: 100%;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
  }
  
  .inputRow2 {
	position: relative;
	font-size: 100%;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 25px;
  }
  
  .slds-textarea {
	font-size: 16px;
	height: 100px;
	line-height: 1.6em;
  }
  
  .slds-input {
	font-size: 16px;
	line-height: 1.6em;
	height: 45px;
  }
  
  .floatLeft {
	float: left;
  }
  
  .floatRight {
	float: right;
  }
  
  .buttonDiv {
	padding-top: 5px;
	padding-bottom: 15px;
  }
  
  .submitBtn {
	width: 200px;
	height: 50px;
	background-color: #033466;
	font-size: 100%;
	color: white;
  }
  
  .sWrapper {
	height: 200px;
  }