.vCard > div.slds-card__body {
	margin-top: 0;
	margin-bottom: 0;
}

.container {
    width:90%;
    margin: auto;
}

.title-create{
    font-size: 20px;
    font-weight: 900;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bfbfbf;
}

.title-edit{
    font-size: 20px;
    font-weight: 900;
    padding-top: 10px;
}

.title-sub{
    font-size: 15px;
    font-weight: 0;
    padding-top: 5px;
    color: #959493;
    padding-bottom: 20px;
    border-bottom: 1px dotted #959493;
}

.question-Container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.competitor-event {
    line-height: 40px;
    background-color: #F2F2F2;
    text-align: center;
}

.procceed-button-div {
    width: 200px;
    height: 45px;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.proccee-button {
    width: 200px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    background-color: #033466;
    color: white;
    font-size: 15px;
}

.photo {
    width: 75px;
    height: 75px;
    margin:auto
}

.padding-top {
    padding-top: 20px;
}

.upload-file {
    width: 160px;
    margin: auto;
}

.upload-file-border {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #959493;
}

.sWrapper {
    height: 200px;
  }