.THIS {
	color: #222;
}

.THIS .order-title{
	font-weight: inherit;
    font-size: 1.5em;
}
.THIS .subtitle{
	font-size: 13px;
    font-weight: bold;
    background: #eee;
    padding: 7px 20px;
    border-bottom: solid 1px #ddd;
}
.THIS .inner-text{
	float: right;
    font-weight: bold;
}

.THIS .limitVert{
	max-height: 70vh;
    overflow: auto;
}

.THIS .price-section{
	width: 150px;
    padding-left: 10px;
}
.THIS .slds-grid_align-center{
	padding: 0 0 0 0 !important;
}

.THIS .slds-grid_pull-padded{
	padding: 0 50px 0 50px !important;
}

.THIS .slds-input{
	margin-left: -130px;
}

.THIS a.paginate_button{
	padding: 6px 12px;
	border: 1px solid #ddd;
	float: left;
	margin-left: -1px;
	text-decoration: none;
}


.THIS .dataTables_length{
	margin-bottom: 10px;
}
.THIS .dataTables_info{
	float: left;
	margin-top: 10px;
}


.THIS .slds-textarea{
	margin-left: -130px;
}

/*.THIS .slds-button {
	width: 200px;
}
*/

.THIS .slds-input{
    margin-left: -30px;
    
}
.THIS .left{
	float: left;
	margin-right: 20px;
	height: 38px;
}
.THIS .disable-value{
	display: block;
    color: cornflowerblue;
}
.THIS .slds-form-element__label{
	font-size: 13px;
	color: #222222;
	margin-left: -5px;
}
.THIS .dataTables_length .slds-form-element__label{
	margin-left: 0;
}

.THIS .dataTables_paginate{
	float: right;
	margin-top: 10px;
}

.THIS a.current{
	z-index: 3;
	color: white;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.THIS a.first{
	border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.THIS a.last{
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.THIS a.disabled{
	color: #777777;
	cursor: not-allowed;
}
.THIS .delete-btn {
	cursor: pointer;
}
.THIS .ellipsis{
	padding: 6px 12px;
	border: 1px solid #ddd;
	float: left;
	margin-left: -1px;
	text-decoration: none;
}
.THIS .dataTables_length {
	float: left;
}
.THIS .dataTables_length .page-class
{
	float: left;
}
.THIS .slds-form-element{
	float: left;
}
.THIS .dataTables_length .slds-grow {
	float: right;
}
.THIS .page-class{
	float: right;
}
.THIS .dataTables_filter{
	float: right;
}
.THIS .slds-button--neutral{
	width: auto;
}
.THIS .slds-input-has-icon_left-right{
	float: none;
}
.THIS .slds-input-has-icon_left-right .slds-input{
	margin-left: auto;
}
.THIS .slds-input-has-icon_left-right {
	padding-left: 50px;
}
.THIS .slds-icon-text-default{
	margin-left: -60px;
}
.THIS .slds-input__icon-group_right .slds-button_icon{
	margin-right: -80px;
}
.THIS .dataTables_filter .slds-input__icon_left{
 left: 120px;
}
.THIS .slds-size_6-of-12 .slds-input{
 	margin-left: -140px;
    width: 535px;
}
.THIS .slds-size_1-of-1 .slds-button_icon-bare{
 	width: 20px;
 	margin-left: -70px;
}
.THIS .slds-input-has-icon_right .slds-input{
 	width: 200px;
}
.THIS .slds-size_11-of-12 .slds-button {
 	width: 200px;
}