.THIS .collapsed {
    display:none;
}

.THIS .spacer {
    display:inline-block; width:22px;
}

.THIS .used-item {
    color: burlywood;
}

.THIS .dragOverEl {
    background-color: antiquewhite;
}

.THIS .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.THIS .sap {
    height: 13px;
}

.THIS .max50-inputs-width {
    max-width: 50px;
}

.THIS .center-vertical-align {
    margin: auto;
}

.THIS .view-box {
    background-color : rgb(224, 229, 238);
}

.THIS .overflowHidden {
    overflow: hidden;
}

.THIS .hide-error-message > .slds-form-element__help {
    display: none;
}
.THIS .slds-input-has-icon .slds-input__icon {
    top:15%;
}