.THIS {
}

.THIS .vCard > header.slds-card__header.slds-grid {
	display: none !important;
}

.THIS .vCard > div.slds-card__body {
	margin-top: 0;
	margin-bottom: 0;
}

.THIS .container-scroller {
    height: 100vh;
}

.THIS .container-scroller-with-footer {
    height: calc(100vh - 70px);
    /* - var(--lwc-heightHeader,2.75rem) */
    /* - var(--lwc-heightFooter,3.75rem) */
}

.THIS .container {
    width: 90%;
}

.THIS .header {
    height: 64px;
    width: 100%;
    border-bottom: 1px solid #959493;
}

.THIS .header-title {
    font-size: 18px;
    font-weight: 900;
    line-height: 18px;
}

.THIS .header-filter-icon-container {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #959493;
    margin: 0;
}

.THIS .header-filter-icon {
    background-color: #959493;
}

.THIS .empty-list {
    padding: 20px 0;
    width: 100%;
}

.THIS .sku-list-container {
    width: 100%;
}

.THIS .sku-item-container {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #959493;
}

.THIS .sku-item-image {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    background-color: #959493;
}

.THIS .sku-item-name {
    font-size: 16px;
    line-height: 19px;
}

.THIS .sku-item-sku-code {
    color: #959493;
}

.THIS .sku-item-price {
    margin-top: 3px;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
}

.THIS .quantity-container {
    padding-top: 15px;
}

.THIS .quantity-input {
    width: 45px;
}

.THIS .quantity-input .slds-input {
    height: 40px;
    padding: 0;
    text-align: center;
}

.THIS .quantity-button {
    width: 40px;
    height: 40px;
}

.THIS .pagination-container {
    padding: 30px 0;
}

.THIS .pagination-button {
    padding: 0 10px;
    width: 30px;
}

.THIS .pagination-button lightning-primitive-icon {
    display: flex;
    align-items: center;
}

.THIS .pagination-input {
    width: 45px;
}

.THIS .pagination-input .slds-input {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.THIS .pagination-text {
    min-width: 30px;
    font-size: 16px;
    color: #023466;
    text-align: center;
}

.THIS .slds-card__footer {
    padding: 0;
    margin: 0;
}

.THIS .footer-container {
    height: 70px;
    width: 90%;
}

.THIS .footer-title {
    width: 80px;
    font-size: 10px;
    line-height: 13px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.THIS .footer-value {
    font-size: 30px;
    line-height: 30px;
}

.THIS .checkout-button {
    width: 120px;
    height: 40px;
}

.THIS .filter-container {

}

.THIS .filter-input {
    width: 330px;
    margin: 5px;
}

.THIS .filter-text {
    margin: 10px 5px;
	text-align: center;
}

.THIS .filter-button {
    width: 160px;
    margin: 5px;
}

.THIS .sku-list-summary-container {
    margin-top: 10px;
}

.THIS .sku-list-summary-header-container {
    width: 100%;
    line-height: 40px;
    background-color: #F2F2F2;
    text-align: center;
}

.THIS .sku-list-summary-detail-container {
    padding: 15px 0;
    border-bottom: 1px dotted #959493;
}

.THIS .sku-list-summary-detail {
    margin-bottom: 10px;
}

.THIS .sku-list-summary-title {
    line-height: 26px;
}

.THIS .sku-list-summary-value {
    font-weight: 900;
    font-size: 22px;
}

.THIS .delivery-container {
    padding-top: 40px;
}

.THIS .form-container {
    width: 100%;
}

.THIS .form-field-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.THIS .form-field-container > lightning-input {
    padding: 10px 0;
}


.THIS .form-field-container .slds-form-element .slds-form-element__label {
    color: #111111;
    margin-bottom: 14px;
}

.THIS .form-title {
    margin-bottom: 14px;
}

.THIS .form-input {

}

.THIS .form-input-textarea {
    min-height: 100px;
}

.THIS .form-search-wrapper {
    height: 200px;
}

.THIS .form-list-box {
    border: 1px solid #959493;
    border-radius: 5px;
}

.THIS .button-container {
    padding-bottom: 25px;
}

.THIS .submit-button {
    width: 200px;
    height: 50px;
}

.THIS .back-button {
    padding: 0 50px;
    height: 50px;
}