.THIS .slds-lookup__body .slds-pill__container {
	border: transparent;
	border-bottom: 1px solid #d8dde6;
	border-radius: 0;
}
.THIS .slds-lookup__body .slds-pill-container.slds-show {
	margin-left: 10px;
}
.THIS .slds-lookup__body .slds-form-element__label {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	margin-left: 0.5rem;
	margin-right: 0;
	margin-bottom: 0;
	font-size: 0.875rem;
	max-width: 12rem;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end
}
.THIS .slds-lookup__body .slds-lookup__menu {
	max-width: calc(100% - 6rem);
	right: 0;
	top: calc(2.125rem + 2px)
}
.THIS .slds-lookup__body .slds-lookup__list {
	max-height: 17.5rem
}
.THIS .slds-lookup__body .slds-dropdown-trigger {
	margin-left: 0.5rem
}
.THIS .slds-lookup__body .slds-form-element__control {
	background-color: white;
	color: #16325c;
	border: 1px solid #d8dde6;
	border-radius: 0.25rem;
	width: 100%;
	-webkit-transition: border 0.1s linear, background-color 0.1s linear;
	transition: border 0.1s linear, background-color 0.1s linear;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
}
.THIS .slds-lookup__body .slds-form-element__control:focus,
.THIS .slds-lookup__body .slds-form-element__control:active {
	outline: 0;
	border-color: #1589ee;
	background-color: white;
	box-shadow: 0 0 3px #0070D2
}
.THIS .slds-lookup__body .slds-form-element__control[disabled],
.THIS .slds-lookup__body .slds-form-element__control.slds-is-disabled {
	background-color: #e0e5ee;
	border-color: #a8b7c7;
	cursor: not-allowed;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.THIS .slds-lookup__body .slds-form-element__control[disabled]:focus,
.THIS .slds-lookup__body .slds-form-element__control[disabled]:active,
.THIS .slds-lookup__body .slds-form-element__control.slds-is-disabled:focus,
.THIS .slds-lookup__body .slds-form-element__control.slds-is-disabled:active {
	box-shadow: none
}
.THIS .slds-lookup__body .slds-form-element__control .slds-input--bare {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	margin-left: 0.5rem;
	line-height: 2.125rem
}