/**
 * Created by aliku on 9/21/2020.
 */

.score-circle {
    border-radius: 50%;
    width: 108px;
    height: 108px;
    padding: 54px;

    background: #fff;
    color: #666;
    text-align: center;
}

.score-circle__success {
    border: 4px solid green;
}

.score-circle__error {
    border: 4px solid red;
}

.table-grid {
    min-height: 100px;
}

.table-grid lightning-spinner{
    background-color: transparent !important;
}