.custom-panel {
    
	/*background    : var(--lwc-cardColorBackground,rgb(255, 255, 255));
    padding       : var(--lwc-varSpacingVerticalSmall, 0.75rem) 0;
    box-shadow    : var(--lwc-cardShadow,0 2px 2px 0 rgba(0, 0, 0, 0.10));
    border        : var(--lwc-borderWidthThin, 1px) solid var(--lwc-cardColorBorder,rgb(221, 219, 218));*/
    background: white;
    border-radius : var(--lwc-borderRadiusMedium, 0.25rem);                           
}
                            
.editable-panel {
    min-height     : 500px;
    margin         : 0.125rem;
    padding        : var(--lwc-varSpacingVerticalSmall, 0.75rem) var(--lwc-varSpacingHorizontalMedium, 1rem);
    padding-bottom : 16px;
}
                                        
                                             
 .line-break {
    margin-top   : 20px;
    margin-left  : 200px;
    margin-right : 200px;
}
                            
 .fc-header-toolbar {
	padding-left  : 10px;
    padding-right : 10px;
}

 .fc-header-toolbar .fc-left,
 .customer-list-title {
	font-size   : 18px;
    margin-top  : 5px;

}
     
 .Title-header {
    font-size   : 20px;
    margin-top  : 5px;
    /*font-weight : var(--lwc-tabsFontWeight, 700);*/
                                                            
}
                                                
     
 .select {
	background-color : black;
    color: white;
}     
     
 .button-size {
	width : 150px;
}     
                                                
 .center {       
   margin-left:auto;
   margin-right:auto;                                               
}     
                                                
                                               
 .fc-popover .fc-body .fc-content .fc-title {
	white-space : normal;                                                     
}
                                                
.customer-list {
	overflow-x : auto;                                                    
}
                                                
.customer-list thead, 
.customer-list tbody { 
	display : block; 
}                                                
                                                
 .customer-list tbody {
	height     : 365px;       
    overflow-y : auto; 
    overflow-x : hidden;                                            
}

 .customer-list tbody td,     
 .customer-list thead th {
    width : 140px;                                                
	padding-left  : 8px;
    padding-right : 8px;                                                
}

 .customer-list tbody td div {
    white-space : normal;
	width       : 124px;                                                    
}
                                                
 .customer-list tbody .custom-size-small,     
 .customer-list thead .custom-size-small {
    width : 80px;                                                
	padding-left  : 8px;
    padding-right : 8px;                                                
}

 .customer-list tbody .custom-size-small div {
    white-space : normal;
	width       : 64px;                                                    
}
                                                
 .customer-list .fc-event,
 .customer-list .fc-event a {
    background-color : transparent;
    border           : 0;                                                   
}

 .customer-list .selected-row {
	background : rgba(21, 137, 238, 0.3);
}

 .customer-pagination-container {
	display : flex;
    height  : 80px;                                               
}                                                
                                                
 .customer-pagination {
	display : inline-block;
    margin  : auto;                                                
}

 .customer-pagination > div {
  	color           : black;
  	float           : left;
  	padding         : 8px 16px;
  	text-decoration : none;
  	border          : 1px solid #ddd;
    height          : 41px;
    display         : flex;                                                
}
                                                
 .customer-pagination > div span {
  	margin : auto;                                         
}

 .customer-pagination > .hoverable:hover {
	background-color : #ddd;
    cursor           : pointer;                                                
}
                                                
 .customer-pagination > div .slds-form-element__control {
	margin-right : 5px;                                                    
}    
                                                
 .customer-pagination > div .slds-input {
    min-height : 25px;                                                
	height     : 25px;
}

 .customer-pagination > div .slds-button {
    line-height : 22.5px; 
}                                                        

 .customer-pagination > div:first-child {
  	border-top-left-radius    : 5px;
  	border-bottom-left-radius : 5px;
}

 .customer-pagination > div:last-child {
  	border-top-right-radius    : 5px;
  	border-bottom-right-radius : 5px;
}                                                
                                               
 .button-group-right {
    width      : 100%;
    text-align : right;
    display    : block;
}
                                                
 .text-right {
	text-align : right;                                                    
}
                                                
 .text-left {
	float : left;                                                    
}

 .text-center {
	text-align : center;                                                            
}

 .tooltip {
    position: relative;
}

 .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    display: block;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

 .tooltip:hover .tooltiptext {
    visibility: visible;
  }