.THIS.slds-hide {
  display: none;
}
.THIS.mySpinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9050;
  background-color: rgba(255, 255, 255, 0.75);
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .2s ease,visibility 0s;
  transition: opacity .2s ease,visibility 0s;
  -webkit-transition-delay: 0s,.3s;
  transition-delay: 0s,.3s;
}

.THIS.slds-spinner--brand.slds-spinner.slds-spinner--large {
    top: 5% !important;
}