/**
 * Created by Murat Can on 28/08/2020.
 */

.THIS .slds-card {

    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-cardColorBorder,rgb(221, 219, 218)) !important;
}

.THIS .slds-file--card {
    width: 200px;
}

.THIS .forceContentFileCard {
    width: 200px !important;
}