.THIS .slds-table_bordered {
    border-collapse: collapse;
}

.THIS .warningRow, .THIS .warningColumn > div > input, .THIS .warningColumn > div > div > input {
    background-color: rgba(205, 92, 92, 0.3);
 }

.THIS .deleteButton, .THIS .deleteButtonSoft {
    padding: 5px;
    color: white;
    border-radius: 13px;
    margin-right: 5px;
    text-decoration: none;
}

.THIS .deleteButton {
    background-color: indianred;
}

.THIS .deleteButtonSoft {
    background-color: cornflowerblue;
}

.THIS .deleteButton:hover {
    background-color: orangered;
}

.THIS .deleteButtonSoft:hover {
    background-color: dodgerblue;
}