.THIS .cart {
    position: absolute;
    background: #FAFAFA;
    border: solid 1px #eee;
    width: 400px;
    right: 0;
    top: 0;
    transition: top 1s linear;
}

.THIS .delete-item {
    position: absolute;
    right: 10px;
    top: 10px;
}

.THIS .head {
    padding: 8px 20px;
    min-height: 36px;
    
    position: relative;
    overflow: hidden;
    border-bottom: solid 1px #ddd;
}

.THIS .quantity-price a.disabled {
    opacity: 0.2;
}

.THIS .slds-radio_faux {
    color: #555;
}

.THIS .backgroundInverse {
    position: absolute;
    background-color: #0a192f;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.4;
}

.THIS .cart-empty {
    padding: 36px 22px 0;
    text-align: center;
    /* background: white; */
    text-transform: uppercase;
    font-size: 14px;
}
.THIS .cart-action a {
    color: #333;
    font-size: 14px;
    font-weight: 100;
    margin-left: 12px;
}



.THIS .head h2 {
    float: left;
    font-size: 16px;
    font-weight: 100;
    margin: 4px 0;
}

.THIS .p-count  {
    float: right;
    font-size: 15px;
    font-weight: 100;
    color: #777;
    padding: 5px 7px;
}

.THIS .head a {
    float: right;
}

.THIS .order-control {
    color: #222;
        background: #efecec;
        padding: 21px;
        font-weight: 100;
        border-top: solid 1px #d4d2d2;
        border-bottom: solid 1px #d4d2d2;
    
}

.THIS .totals {
    font-weight: 100;
    color: #222;
}

.THIS .totals .sub, .THIS .totals .total {
    padding: 7px 20px;
    border-bottom: solid 1px #ddd;
}
.THIS .cred-disponible{
    margin-top: 5px;
    /*padding: 0px 5px 5px 5px;*/
    float: right;
    color: green;
    font-weight: bold;
    /*border-radius: 5px;
    border: solid;
    border-width: thin;*/
    
}
.THIS .sub{
    font-size: 17px;
}
.THIS .clear {clear: both;}


.THIS .prod-detail {
    float: left;
    font-weight: 100;
    padding: 10px 0;
    width: 70%;
    position: relative;
}

.THIS .prod-detail  h2 {
    font-size: 13px;
    color: #bfbbbb;
    margin-right: 25px;
}

.THIS .quantity-price {
    height: 31px;
    margin: 10px 0 0;
    font-size: 17px;
}
.THIS .uiInputNumber {
    max-height: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.THIS .quantity-price a,  .THIS .quantity-price  .number {
    float: left;
    color: #333;
}
.THIS .inqty  {
    display: block;
    border: solid 1px black;
    float: left;
    width: 4em;
    border-radius: 9%;
    height: 35px;
    text-align: center;
	
}
.THIS .slds-input_height{
    height: 10px;
}
.THIS .slds-form-element__control .slds-input{
	border-radius:10%;
}
.THIS .quantity-price  .number {
   
    border-radius: 10%;
    min-width: 25px;
    max-width: 75px;
    margin: 0 10px;
    min-height: 25px;
    text-align: center;
}

.THIS .quantity-price  .price  {
    float: right;
    color: #222;
    font-size: 24px;
    padding-left: 7px;
}

.THIS .prod-detail  h3 {
    font-size: 14px;
    line-height: 18px;
    padding-left: 7px;
}

.THIS .cart-action {
    position: relative;
}

.THIS .sync {
    position: absolute;
    bottom: 18px;
    text-align: center;
    width: 100%;
    z-index: 999;
    text-transform: uppercase;
    font-size: 17px;
    font-style: italic;
    left: 0;
    color: #2171bb;;
}
.THIS .orderBlocked {
    position: absolute;
    top: 128px;
    text-align: center;
    width: 100%;
    z-index: 999999;
    text-transform: uppercase;
    font-size: 21px;
    font-style: italic;
    left: 0;
    color: #000;
}

.THIS .my-row {
    border-bottom: 1px solid #ddd;
}
.THIS .my-row .img-cont {
    float: left;
    width: 29%;
    height:auto;
    margin-right: 1%;
    background: #f1f1f1;
    text-align :center;
}

.THIS .items-list  {
    padding: 5px 20px 50px;
    position: relative;
}

.THIS .totals .total {
    font-size: 21px;
    color: #111;
}
.THIS .sub span {
    float: right;
    font-weight: bold;
}
.THIS .total span {
    float: right;
    font-weight: bold;
}
.THIS .action a {
    width: 100%;
    /* height: 90px; */
    position: relative;
    display: block;
    text-transform: uppercase;
    text-align: center; 
    background: #4e4e4e;
    color: #fff;
    padding: 18px;
    font-weight: 100;
    font-size: 14px;
}
.THIS .action a.disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.THIS .img-cont img{
        max-height: 103px;
}
.THIS  .colorIndianRed svg{
    fill: indianred;
}
.THIS .slds-text-heading_medium {
    border-bottom: solid 2px #ddd;
    margin-bottom:25px;
}
.THIS .slds-modal__footer {
   text-align: center;
}
.THIS .slds-modal__header  {
    padding:20px;
}
.THIS .stock-issues {
    cursor: not-allowed;
    opacity: 0.3;
}
.THIS .stock-error {
    font-size: 13px;
    text-align: center;
    padding: 10px;
    width: 100%;
    display: block;
    color: #a50b0b;
    font-weight: bold;
}
.THIS .stock .number {
    border: solid 1px #a22f2f;
    color: #961b1b;
}
.THIS .stock-qty {
    display: none;
}
.THIS  .stock .stock-qty {
    display: block;
}
.THIS .my-row.stock .img-cont { 
    opacity: 0.4;
}
.THIS .stock .price {
    color: #908484;
}
.THIS .stock-qty {
    float: right;
    font-size: 14px;
    color: #147114;
}
.THIS  .stock .prod-detail h3 {
    color: #e09393;
    font-size: 18px;
    margin-bottom: 10px;
}