.THIS a{
	color: rgb(0, 95, 178);
}
.THIS .slds-th__action-button{
    display: none;
}
.THIS .defaultOrderHeaderDiv{
	background-color: #A6292A; 
	padding: 8px; 
	padding-left: 15px;
}
.THIS .defaultOrderHeaderH1 span{
	font-size: 13px; 
	font-weight: bolder; 
	color: white;
}
.THIS .slds-grid_align-end{
	justify-content: space-between;
}
/*Date Filter Start*/
.THIS .dateFilter{
	padding-top: 10px;
}
.THIS .dateFilter .slds-form-element__label{
	max-width: 40%;
}
.THIS .dateFilter .startDate,
.THIS .dateFilter .endDate{
	display: inline-block;
	margin-right: 10px;
}
/*Date Filter End*/

/*DataTable Action Start*/
.THIS .dataTables_length,
.THIS .dataTables_filter,
.THIS .dataTables_info,
.THIS .dataTables_paginate{
	padding: 4px;
}
.THIS .dataTables_length,
.THIS .dataTables_length .slds-form-element,
.THIS .dataTables_info{
	float: left;
}
.THIS .dataTables_length .slds-form-element .slds-form-element__control{
	display: inline-block;
	padding: 0 10px;
}
.THIS .dateFilter .slds-form-element__label,
.THIS .dataTables_length .slds-form-element__label,
.THIS .dataTables_filter .slds-form-element__label,
.THIS .dataTables_info .slds-form-element__label{
	font-size: 13px;
	height: 32px;
	line-height: 32px;
	padding: 0;
}
.THIS .dataTables_filter,
.THIS .dataTables_paginate{
	float: right;
}
.THIS .dataTables_filter .slds-form-element_horizontal{
	margin: 0;
    padding: 0;
}
.THIS .dataTables_filter .slds-form-element__control{
	padding-left: 50px;
}
.THIS .dataTables_filter .slds-input__icon_left{
	left: 60px;
}
/*DataTable Action End*/


.THIS .orderTable > thead > tr > th{
	padding: 8px;
	border-bottom: 2px solid #ddd;
}
.THIS .orderTable td{
	padding: 8px;
	border: none;
  	border-top: 1px solid #ddd;
}
.THIS .copyOrder{
	width: 130px;
}
.THIS .subTable > thead > tr > th{
	padding: 4px 8px;
}
.THIS .details-control{
	cursor: pointer;
}
.THIS .slds-is-sortable{
	cursor: pointer;
}
.THIS .cos-rotate{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
.THIS .bgOldlace{
    background-color: oldlace;
}
.THIS .bgAliceblue{
    background-color: RGB(107,165,208) !important;
    color: white !important;
}
.THIS .borderAliceblue{
    border-color: RGB(107,165,208) !important;
    border-width: 5px !important;
    border-radius: 5px !important;
}
.THIS .noTOV{
	background-color: RGB(107,165,208);
    color: white;
    padding: 8px;
    pointer-events: none;
}
.THIS .noTOV:selection{
	background-color: RGB(107,165,208);
}
.THIS .padding8{
    padding: 8px;
}
.THIS .tableFooter{
	height: 42px;
}
.THIS .slds-tabs_default__content{
	padding-bottom: 0;
}