.THIS.row  {
    padding-top: 5px;
}

.THIS h2 {
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.THIS input {
	height: 45px;
}

.THIS label {
    color: lightgray;
    font-size: 15px;
}

.THIS textarea {
    height: 100px;
}

.THIS button {
    width: 100%;
}

.THIS a.loginLink {
    color: white;
}
.THIS .slds-button_brand{
   	margin-top: 15px;
}
.THIS p{
    text-align: center;
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}
.THIS .recordSaveError {
    color: #f1f9eb;
    background-color: rgba(0, 0, 0, 0.50);
    background: rgb(0,0,0,0,0.50);
    padding: 10px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-color: #9c8759;
}
.THIS .headerError    {
    color: #ED4337;
}
.THIS .slds-form-element__icon .slds-button .slds-button_icon {
   color: lightyellow!important;
}
.THIS lightning-primitive-icon{
    color: lightyellow!important;
}