.custom-panel {
	background    : rgb(255, 255, 255);
    box-shadow    : 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    border        : 1px solid rgb(221, 219, 218);
    border-radius : 0.25rem;                          
}

.line-break {
    margin : 20px 200px;
}

.custom-data-table-container {
    display : flex; 
}

.custom-data-table {
    width      : 95vw;
    max-height : 650px;
    overflow   : auto;
    margin     : auto;
}

.custom-button-group {
    text-align : right;
}

.dropdown-menu {
    position                : absolute;
    z-index                 : 1000;
    display                 : none;
    float                   : left;
    min-width               : 160px;
    padding                 : 10px 10px;
    padding-left            : 20px;
    margin                  : 2px 0 0;
    font-size               : 14px;
    text-align              : left;
    list-style              : none;
    background-color        : #fff;
    -webkit-background-clip : padding-box;
    background-clip         : padding-box;
    border                  : 1px solid rgba(0,0,0,.15);
    border-radius           : 4px;
    -webkit-box-shadow      : 0 6px 12px rgba(0,0,0,.175);
    box-shadow              : 0 6px 12px rgba(0,0,0,.175);
    max-height              : 200px;
    overflow-y              : auto;
}

.open .dropdown-menu {
    display : block;
}

.first-dropdown {
    margin-left : 7.5px;
}

.second-dropdown {
    margin-left : 182.5px;
}