.THIS {
    font-family:Arial, Helvetica, sans-serif !important;
    color: #7a786d !important;
    padding: 0 1rem;
}
.THIS .datosCliente{
    margin-bottom: 5px;
    margin-top: 5px;
}
.THIS .cardBancos{
    width: 30%;
    padding: 20px;
    margin: 10px;
}
.THIS .sub span {
    float: right;
    font-weight: bold;
}
.THIS .slds-form-element_readonly {
	border-bottom:2px solid #7a786d;
}

.THIS .slds-table_bordered tbody td,.THIS .slds-table_bordered tbody th,.THIS .slds-table--bordered tbody td,.THIS .slds-table--bordered tbody th {
 	border-top:1px solid #7a786d;   
}

.THIS .slds-table_bordered,.THIS .slds-table--bordered{
	border-bottom: 1px solid #7a786d;
}

.THIS .slds-section__title-action {
   	color:#5b5a52 !important;
    background-color:transparent !important;
}
.THIS .slds-tabs_default__nav {
    width: 100%;
    height: 60px;
    background-color: #025b75;
    color: white;
    font-size: xx-large;
    border-radius:2px;
}
.THIS .slds-tabs_default__item:after {
    background-color: white;
}
.THIS .slds-tabs_default__nav .slds-icon-text-default{
    fill:white;
}
.THIS .slds-tabs_default__item.slds-is-active, .THIS .slds-tabs_default__link  {
    color: white;
    padding-right: 30px;
    height: 60px;
    padding-top: 5px;
    /*padding-top: 5px;*/
}
.THIS .slds-is-active {
    background-color:mediumaquamarine;
}
.THIS .slds-card .slds-form-element__static {
   color: #7a786d !important;
}

.THIS .slds-tabs_default__item {
    font-size: 0.875rem;
	color: #5b5a52;
 }

 .THIS .slds-tabs_default__item::after {
 	background-color: teal; 
 }
/*
.THIS .slds-tabs_default__item > a:focus{ 
 	box-shadow: #5b5a52 0px -1px 0px inset;
 }*/

.THIS .slds-page-header--object-home > .slds-gid {
    display:none;
}

.THIS .record-list .slds-page-header--object-home {
    background-color: transparent;
    padding-top: 0;
}

.THIS .record-list .slds-page-header--object-home .slds-grid .slds-col:first-child {
	visibility: hidden; 
	height: 0;
}

.THIS .record-list .slds-table thead th {
	color: rgba(0, 0, 0, 0.6);
	font-weight: normal;
} 

.THIS .record-list .slds-table tbody th * {
	color: rgba(0, 0, 0, 0.8);
}

.THIS .detail-bar {
	display: flex;
	flex-wrap: wrap;
}

.THIS .detail-bar > div {
	width: 35%;
}

.THIS .detail-bar > div:first-child {
	width: 65%;
}

.THIS .bar {
    
}
.THIS .title a {
    color:#025b75;
}

.THIS .detail-bar .title {
	font-size: 1rem;
	font-weight: 700;
}

.THIS .detail-bar .slds-progress-bar {
	float: right;
}
.THIS .row{
    /*width: 25%;*/
    padding: 30px 0;
    text-align: left;
    float: left;
    font-size: 19px;
    letter-spacing: -0.55px;

    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}
 
.THIS .row h2 {
    /* float: left; */
    
    font-weight: 500;
    text-transform: uppercase;
    color: #666;
    
}

.THIS .row h2 span{
    font-weight: 100;
    text-transform: none;
    margin-left: 6px;
    color: #adadad;
}
.THIS .container {
    position: relative;
}
.THIS span p{
    font-weight: 80;
    text-transform: none;
    margin-left: 6px;
    color: #adadad;
}
.THIS .forceOutputLookup {
    pointer-events: none;
    cursor: default;
    color: darkslategrey;
}