.THIS {
	color: #000;
	display: flex;
	flex-wrap: wrap;
	font-family:Arial, Helvetica, sans-serif !important;
	
}
.THIS a{
    color: rgb(0, 95, 178);
    text-decoration: none;
}
.THIS a:hover {
	text-decoration: none;
}

/* ----   HEADER    ----- */
.THIS .slds-page-header{
    width: 100%;
}
.THIS .slds-page-header .chooseProductH{
    font-size: 15px; 
    font-family: Montserrat; 
    color: #8F8F8F;
}
.THIS .quantity .inqty .slds-input {
	width: 3em;
    font-size: 15px;
    color: #666;
	text-align: center;
	padding: 2px 0px;
	
}
.THIS .quantity {
	float: right;
    margin-right: 5px;
    
}
.THIS .slds-radio_faux {
    color: #555;
    padding: 0 12px;
}

.THIS .body {
	display: flex;
	min-width:100%; 
}
.THIS .main-content {
	min-width:100%;
}
/* ----   NAVBAR    ----- */
.THIS .main-content .navbar  {
	background-color: #F7F7F7;
	height: 45px;
	/*padding: 0 7%;*/
    min-width: 100%;
    /*padding: 0 30px;*/
}
.THIS .main-content .navbar > div {
	width: 33%;
} 
.THIS .main-content .navbar > .filter-list-container span {
    /*font-size: 12px;
    font-weight: 700;
	margin-left: 5%;*/
    font-size: 14px;
    font-weight: bolder;
    color: #6a6a6b;
}
.THIS .main-content .navbar > .filter-list-container .filter-list-button {
 	cursor: pointer;
    height: 100%;
    padding-left: 15px;
    /*width: 47%;*/
    /*padding-left: 8%;*/
    /*padding-top: 1.5%;*/
}
.THIS .main-content .navbar > .filter-list-container .filter-list-button.opened > .slds-icon.close-icon,
.THIS .main-content .navbar > .filter-list-container .filter-list-buttons > .slds-icon.filter-icon {
	display: inline-block !important;

}
.THIS .main-content .navbar > .filter-list-container .filter-list-button.opened > .slds-icon.filter-icon,
.THIS .main-content .navbar > .filter-list-container .filter-list-button > .slds-icon.close-icon {
	display: none;
}
.THIS .main-content .navbar > .filter-list-container .filter-list-button:hover,
.THIS .main-content .navbar > .filter-list-container .filter-list-button:focus,
.THIS .main-content .navbar > .filter-list-container .filter-list-button:active,
.THIS .main-content .navbar > .filter-list-container .filter-list-button.opened {
    background-color: #e2e2e2;
}
.THIS .main-content .navbar > .filter-list-container .filter-list-button  > span {
	pointer-events: none;
}
.THIS .main-content .navbar .filter-icon {
	transform: rotate(90deg);
	margin-top: 3%;
}
.THIS .main-content .navbar .close-icon {
	margin-top: 3%;
}
.THIS .main-content .filter-list {
    background-color: #fff;
    /*min-height: 150px;*/
    min-width: 319px;
    width: 33%;
    /*padding-left: 9%;*/
    padding-left: 30px;
    padding-top: 1%;
    position: absolute;
    transform: translate(0, 45px);
    z-index: 11;
}
.THIS .main-content .filter-list a.delete-filter {
	font-size: .9rem;
	display: inline-block;
	color: #6a6a6b;
}
.THIS .main-content .filter-list .delete-filter span { 
	padding-top: 3px;
}
.THIS .main-content .filter-list .filter-container {
    padding: 3% 0;
}
.THIS .main-content .filter-list .filter-container h3 {
	font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 5%;
}
.THIS .main-content .filter-list .filter-size ul {
	display: flex;
	flex-wrap: wrap;
}
.THIS .main-content .filter-list .filter-container ul.left{
    width: 50%;
    float: left;
}
.THIS .main-content .filter-list .filter-container ul.right{
    width: 50%;
    float: right;
}
.THIS .main-content .filter-list .filter-container li{
    color: #b5b5b5;
    margin: 1% 0;
    width: 100%;
}
.THIS .main-content .filter-list .filter-container li a {
	color: #A6A6A6;
}
.THIS .main-content .filter-list .filter-container li a:hover,
.THIS .main-content .filter-list .filter-container li a:focus,
.THIS .main-content .filter-list .filter-container li a.active {
	color: #515151;
	font-weight: 600;
}
.THIS .main-content .filter-list .filter-container li .check-icon {
	display: none;
}
.THIS .main-content .filter-list .filter-container li a.active .check-icon {
	display: inline-block;
}
.THIS .main-content .filter-list .filter-size .filter-size-button {
	width: 105px;
    background: #fff;
    color: #A6A6A6;
    border-radius: 16px;
    border-width: 2px;
    border-style: solid;
    padding: 2%;
    margin: 7% 0 4% 0;
}
/* ----   PRODUCTS    ----- */
.THIS .main-content .product-list {
	/*min-height: 400px;*/
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    background: #fbfbfb;
}
.THIS .main-content .product-list .product {
    width: 20%;
}
.THIS .main-content .product-list .product {
	overflow: hidden;
    position: relative;
}
.THIS .main-content .product-list .product .product-info {
    text-align: center;
    font-size: 11px;
}
.THIS .main-content .product > div {
	font-weight: 700;
}
.THIS .main-content .product .product-price {
	font-size: .9rem;
}
.THIS .main-content .product .product-image {
	position: relative;
	text-align: center;
    height: 215px;
    line-height: 210px;
    margin: 10px 0 5px 10px;
    border: 1px solid RGB(212, 212, 212);
    background-color: #FFFFFF;
}
.THIS .main-content .product .product-image img.productImage{
    /*width: fit-content;*/
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    padding-top: 0;
    transition: transform .2s; /* Animation */
}
.THIS .main-content .product .btn-add {
	background-color: #5c5c5c;
    border: none;
    color: #fff;
    font-weight: 300;
    font-size: .7rem;
    /* height: 34px; */
   	width: 77%; 
    padding: 8px 4px 1px;
    border-radius: 3px;
    border-width: 2px;
    margin-top: 5px;
}
.THIS .main-content .product .btn-add .slds-icon svg {
	fill: rgb(255, 255, 255);
}
.THIS .new-order-modal .slds-modal__content {
	min-height: 100px;
}
.THIS .new-order-modal .slds-button.btn-cancel {
	color: #000;
}
.THIS .new-order-modal .slds-button_brand {
    background-color: #939393;
    border: #939393;
    outline: #939393;
}
.THIS .slds-tabs_default__content{
	padding: 0;
}
.THIS .navgrid{
	padding-bottom: 10px;
}
.THIS .slds-box{
    background-color: #F7F7F7;
}
.THIS .navCategory{
	width: 90px;
	font-weight: bolder;
	font-size: 14px;
    margin-right: 10px;
}
.THIS .navul{
	overflow: hidden;
}
.THIS .navul > li:last-child {
    border-right: none;
}
.THIS .navli{
    margin: 2px;
	float: left;
}
.THIS .navli a{
    padding: 5px 10px;
}
.THIS .selected{
    color: white;
    background-color: RGB(107,165,208);
    margin-right: 4px
}
.THIS .position5{
    position: absolute; 
    top: 5px; 
    right: 5px;
}
.THIS .slds-button_icon-bare{
    display: none;
}
.THIS .displayType{
    text-align: right;
    display: inline;
    line-height: 45px;
    color: #6A6A6B;
}
.THIS .filter-list-button{
    line-height: 45px;
}
.THIS .gridBtn, .THIS .listBtn{
    /*padding: 0 10px;*/
    display: inline;
    font-size: 14px;
    font-weight: bolder;
    color: #6A6A6B;
    cursor: pointer;
}
.THIS .gridBtn{
    margin-right: 10px !important;
}
.THIS .listBtn{
    margin-left: 10px !important;
}
.THIS .btnIcon{
    width: 6.5%;
    margin-right: 5px;
}
.THIS .productPhoto{
    width: 15%;
}
.THIS .center {
    text-align: center;
}
.THIS .product-info{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #6A6A6B
}
.THIS .inputCaseNum{
    width: 8%;
}
.THIS .inputCaseNum .slds-form-element .slds-form-element__label{
    display: none;
}
.THIS .inputForSearchProduct{
    width: 300px;
}
.THIS .slds-tabs_default__nav .slds-tabs_default__item {
    font-size: 15px;
    width: 20%;
    text-align: center;
}
.THIS .slds-tabs_default__item{
    text-decoration: none;
}
.THIS .slds-is-active {
    color: rgb(36, 119, 204);
    background-color: aliceblue;
}
.THIS .slds-tabs_default{
    position: relative;
}
.THIS button.btn-add span.addCart{
    font-weight: bolder;
}
.THIS .buttonGroup{
    text-align: center;
}
.THIS .productListTable{
    position: relative;
}
.THIS .footer{
    padding-top: 5px;
    width: 100%;
}
.THIS .dataTables_info{
    float: left;
}
.THIS .dataTables_paginate{
    float: right;
}
.THIS .dataTables_info .slds-form-element__label{
    font-size: 13px;
}
.THIS .searchTerm{
    width: 450px;
    position: absolute;
    right: 0;
    top: 0;
}
.THIS .searchTerm .slds-input{
    border: 1px solid black;
    border-radius: 19px;
}
.THIS .productTableTH{
    padding: 8px;
    border-bottom: 2px solid #ddd;
}
.THIS .addToCart{
    width: 50px;
    text-align: center;
    cursor: pointer;
}
.THIS .iconList{
    width: 100%;
    text-align: left;
    position: absolute;
    top: 5px;
    left: 5px;
}
.THIS .currentSeasonMainIcon{
    width: 25%;
    padding-right: 10px;
}
.THIS .currentSpecialIcon{
    width: 16%;
    padding-right: 5px;
    padding-top: 5px;
    float: right;
}
.THIS .padding8{
    padding: 8px;
}