.THIS.slds-spinner_container {
    z-index: 99999;
    position: fixed;
}

.THIS .hide-toggleLabels .slds-checkbox--on {
    display: none !important;
}

.THIS .hide-toggleLabels .slds-checkbox--off {
    display: none !important;
}

.THIS .hide-label label {
    display: none;
}

.THIS .overflowHidden {
    overflow: hidden;
}

.THIS .displayNone {
    display: none;
}

.THIS .slider .bIcon {
    top: 50%;
}
.THIS .slider:hover {
    background-color: rgb(216, 216, 216);
    cursor: pointer;
}

.THIS input.uiInput--checkbox[type=checkbox][disabled] {
    background-color: rgb(201, 199, 197);
    border-color: rgb(176, 173, 171);
}