.THIS.activities-component--body {
    background: #f4f6f9;
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    padding: 0.25rem;
}
.THIS.activities-component--body h3 {
    padding: 0.25rem 1rem 0rem 1rem;
}
.THIS input[type="text"] {
    min-height: 1.6rem;
    height: 1rem;
    max-width: 80px;
}
.THIS input[type="button"] {
    min-height: 1.6rem !important;
}