.THIS .sub.title { 
    font-size: 13px;
    font-weight: bold;
    background: #eee;
    text-transform: uppercase;
}
.THIS .totals .sub, .THIS .totals .total {
    padding: 7px 20px;
    border-bottom: solid 1px #ddd;
}

.THIS .commonheigth {
    height: 200px !important;
    min-height: 200px !important;;
}
.THIS .sub span {
    float: right;
    font-weight: bold;
}
.THIS .sub{
    padding: 5px 110px;
    color:black;
}
.THIS .uiOutputNumber{
    padding-left:15px;
    color:black;
}
.THIS .pim-footer{
    margin-bottom: 20px;
}
.THIS .pim-card {
    margin-left: 15px;
    height: fit-content;
    display: grid;
    margin-top: 15px;
    max-height: 202px;
}
.THIS .btn-siguiente{
    margin-top: 5px;
    margin-right: 20px;
    background-color: darkcyan;
    color: white;
    float: left;
    margin-left: 40%;
    margin-bottom: 10px;
}
.THIS .btn-habilitar{
    margin-right: 20px;
    background-color: darkcyan;
    color: white;
    float: left;
    margin-left: 25%;

}
.THIS .btn-pim{
    margin-right: 20px;
    background-color: darkcyan;
    color: white;
    float: left;
    margin-left: 33%;

}
.THIS .btn-block{
    background-color: crimson;
    color: white;
    float: left;
}
.THIS .uiInputNumber {
    width: 120px;
    text-align: -webkit-right;
}
.THIS .btn-siguiente:disabled{
    background-color: lightgrey;
}
.THIS .chartBlocked {
    margin-right: 20px;
    float:right;
    color: crimson;
    font-size: larger;
}
.THIS .chartEnabled {
    margin-right: 20px;
    float:right;
    color: darkcyan;
    font-size: larger;
}
.THIS .importe-minimo {
    align-self: baseline;
    margin: 15px;
    width: fit-content;
}
.THIS .slds-textarea {
    width: 420px;
    margin-left: 13px;
    margin-right: 13px;
}
.THIS .labelValorMinimo {
   vertical-align: -webkit-baseline-middle;
   margin-right: 5px; 
}
.THIS .slds-button_neutral:disabled{
    opacity: 0.6;
} 
.THIS .slds-card__footer {
    margin-top: 10px!important;
    margin-bottom: 40px;
    padding: 0px;
}


.THIS .siteforcePanelsContainer .modal-header .title {
    color : #FFFFFF;
}