.THIS {
    padding: 20px 0;
    border-bottom: 1px dotted #959493;
}

.THIS .order-item-image {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    background-color: #959493;
}

.THIS .order-item-name {
    font-size: 16px;
    line-height: 19px;
}

.THIS .order-item-sku-code {
    color: #959493;
}

.THIS .order-item-price {
    margin-top: 3px;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
}

.THIS .order-item-summary-container {
    border-top: 1px dotted #959493;
    padding-top: 20px;
    margin-top: 20px;
}


.THIS .order-item-summary-title {
    font-size: 12px;
    line-height: 16px;
    color: #959493;
    margin-right: 5px;
}

.THIS .order-item-summary-value {
    font-weight: 900;
    font-size: 22px;
}