.THIS {
    height: 260px;
    text-align: center;
}

.THIS .slds-carousel__panel-action {
    border: 0px;
}

.THIS .slds-carousel__panels{
    align-self: center;
    height: 180px;
}

.THIS .slds-carousel__content{
    height: 150px;
}

.THIS .slds-carousel__autoplay {
    display: none;
}