.THIS input[name=Sandbox_Name__c] {    
	text-transform: uppercase;
}


.THIS input[name=Environment_Source__c] {    
	text-transform: uppercase;
}

.THIS .slds-button_success{
	background: #5CB85C !important;
	margin-bottom: 17px !important;
}

.THIS .slds-form-element__label{
	    font-family: 'Salesforce Sans',Arial,sans-serif !important;
    color: #222 !important;
    font-size: inherit !important;
}


.THIS .slds-select_container{
	float: left !important;
	position: relative !important;
}

.THIS .slds-form-element__legend{
	font-weight: normal;
}  

.THIS textarea[name=Commentary__c], .THIS textarea[name=Approval_Process_Comments__c], .THIS textarea[name=Project_Description__c]{    
	height: 210px;
}

.THIS textarea[name=Commentary__c], .THIS textarea[name=Approval_Process_Comments__c], .THIS textarea[name=Project_Description__c], .THIS textarea[name=Admin_List__c]{    
	height: 210px;
}

.THIS textarea[name=Approval_Process_Comments__c] {    
	pointer-events: none;
}


.THIS .loader {
	float: right;
	border: 6px solid #f3f3f3;
	border-top: 6px solid #3498db;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
}

.THIS lightning-icon.errorIcon svg {
	fill: #c23934;
} 

.THIS input{
	background-color: aliceblue !important;
}

.THIS select{
	background-color: aliceblue !important;
	    color: black !important;
}

.THIS textarea{
	background-color: aliceblue !important;
}

.THIS .slds-dueling-list__options{
	background-color: aliceblue !important;
}

.THIS .slds-duslds-dueling-list__column{
	background-color: aliceblue !important;
}



.THIS [disabled] {
    background-color: rgb(233, 234, 236) !important;
    border-color: rgb(196, 198, 202) !important;
}


.THIS .allServices{
	font-size: 0.9rem !important;
    float: left !important; 
    position: relative !important;
}


.THIS .error {
	color: #c23934;
}

.THIS .saveBtn{
	background-color: #92d050 !important;
    color: white !important;
}

.THIS .submitBtn{
	background-color: #f7f700!important;
    color: #222;
}

.THIS .submitBtn:hover{
    color: #222;
}

.THIS .deleteBtn{
	background-color: #ff3200!important;
    color: white;
}

.THIS .deleteBtn:hover{
	color: white !important;
}

.THIS .closeBtn{
	background-color: #808080!important;
	color: white !important;
}

.THIS .closeBtn:hover{
	color: white !important;
}

.THIS .headerBtn{
	 margin-top: 0px;
    margin-bottom: 10px;
}

.THIS .allActivities{
	background-color: #92d050 !important;
    color: white !important;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}