.THIS .slds-carousel__image img{
    width : auto;
    max-width : 850px;
    max-height : 400px;
}

.THIS .slds-carousel__panel-action.slds-text-link_reset{
    text-align : center; 
}


.THIS .slds-carousel.cCaroussel{
    height : 450px;
}

.THIS .slds-carousel__content{
    
}