.custom-panel {
    display : block;                        
}

.full-width {
    width : 100%;
}

.subbrand-table-container {
    height                     : 200px;
    overflow                   : auto;
    -webkit-overflow-scrolling : touch;
    padding-top                : 10px;
    padding-bottom             : 10px;
}